﻿@model NetShop.Models.LoginViewModel
@{
    ViewBag.Title = "Logowanie";
}

<div id="bground">
    <div class="row">
        <div class="col-sm-3">
            <div class="left-sidebar">
                <h2>Kategorie</h2>
                <div class="panel-group category-products" id="accordian">
                    <!--category-productsr-->
                @if(Model.TreeCategories != null)
                { 
                    foreach (var category in Model.TreeCategories)
                    {
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordian" href="#@category.CategoryName">
                                        @if (@category.LeafCategory != null && category.LeafCategory.Count > 0)
                                        {
                                            <span class="badge pull-right"><i class="fa fa-plus"></i></span>
                                        }
                                        @category.CategoryName
                                    </a>
                                </h4>
                            </div>
                            @if (category.LeafCategory != null && category.LeafCategory.Count > 0)
                            {
                                <div id="@category.CategoryName" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <ul>
                                            @foreach (var parentCategory in category.LeafCategory)
                                            {
                                                <li><a href="#">@parentCategory.CategoryName</a></li>
                                            }
                                        </ul>
                                    </div>
                                </div>
                            }
                        </div>
                    }
                }
                </div><!--/category-products-->
            </div>
        </div>
        <div class="col-md-8">
            <section id="loginForm">
                <!--form-->
                <div class="container">
                    <div class="row">
                        <div class="col-sm-4 col-sm-offset-1">
                            <!--form-->
                            <div class="login-form">
                                <!--login form-->
                                <h2>Zaloguj się</h2>
                                @*<form action="#">*@
                                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal margin-bottom-15", role = "form" }))
                                {
                                    @Html.AntiForgeryToken()
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Login" })
                                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                    @*<input id="loginText" type="text" placeholder="Login" />*@
                                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Hasło" })
                                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                    @*<input id="passwordText"  type="password" placeholder="Hasło" />*@
                                    <span>
                                        @Html.CheckBoxFor(m => m.RememberMe)
                                        @Html.LabelFor(m => m.RememberMe, "Zapamiętaj mnie")
                                        @*<input id="rememberValue" type="checkbox" class="checkbox">
                                            Pamiętaj mnie*@
                                    </span>
                                    <button type="submit" value="Zaloguj się" class="btn btn-default" >Zaloguj się</button>
                                    @*<button type="submit" class="btn btn-default">Zaloguj</button>*@
                                }
                                @*</form>*@
                            </div><!--/login form-->
                        </div>
                        <div class="col-sm-1">
                            <h2 class="or">LUB</h2>
                        </div>
                        <div class="col-sm-4">
                            <div class="signup-form">
                                <!--sign up form-->
                                <h2>Zarejestruj się</h2>
                                <form>
                                    <input type="button" class="btn btn-primary" value="Utwórz konto" onclick="window.location.href='@Url.Action("Register", "Account")'" />
                                </form>
                            </div><!--/sign up form-->
                        </div>
                    </div>
                </div>
            </section><!--/form-->
            @*<section id="loginForm">
                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <div class="checkbox">
                                    @Html.CheckBoxFor(m => m.RememberMe)
                                    @Html.LabelFor(m => m.RememberMe, "Zapamiętaj mnie")
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Zaloguj się" class="btn btn-default" />
                                <p>
                                    @Html.ActionLink("Zarejestruj się", "Register")
                                </p>
                            </div>
                        </div>
                        @*Enable this once you have account confirmation enabled for password reset functionality
                            <p>
                                @Html.ActionLink("Forgot your password?", "ForgotPassword")
                            </p>
                    }
                </section>*@
        </div>
        <div class="col-md-4">
            <section id="socialLoginForm">
                @*@Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })*@
            </section>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}