﻿@model NetShop.Models.CustomerViewModel
@{
    ViewBag.Title = "Rejestracja";
}

<div class="container">
    <div class="shopper-informations margin-top-30">
        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary("", new { @class = "text-danger" })

            <div class="row">
                <div class="col-sm-5 clearfix">
                    <div class="bill-to">
                        <div class="form-one">
                            <p>Dane do logowania</p>
                            @Html.TextBoxFor(x => x.UserName, new { @class = "textbox", placeholder = "Login*" })
                            @*@Html.ValidationMessageFor(x => x.UserName, "Pole Login jest wymagane!", new { @class = "text-danger" })*@
                            @Html.PasswordFor(x => x.Password, new { @class = "textbox", placeholder = "Hasło*" })
                            @Html.PasswordFor(x => x.ConfirmPassword, new { @class = "textbox", placeholder = "Powtórz hasło*" })
                            @Html.TextBoxFor(x => x.Email, new { @class = "textbox", placeholder = "Adres e-mail*" })
                        </div>
                        <div class="form-two">
                            <p>Dane adresowe</p>
                            @Html.TextBoxFor(x => x.FirstName, new { @class = "textbox", placeholder = "Imię*" })
                            @Html.TextBoxFor(x => x.Surname, new { @class = "textbox", placeholder = "Nazwisko*" })
                            @Html.TextBoxFor(x => x.City, new { @class = "textbox", placeholder = "Miasto*" })
                            @Html.TextBoxFor(x => x.Street, new { @class = "textbox", placeholder = "Ulica*" })
                            @Html.TextBoxFor(x => x.ZipCode, new { @class = "textbox", placeholder = "Kod pocztowy*", mask = "99-999" })
                            @Html.TextBoxFor(x => x.Phone, new { @class = "textbox", placeholder = "Telefon*"})
                        </div>
                        <div>
                            <p>Dane firmy</p>
                            @Html.TextBoxFor(x => x.CompanyName, new { @class = "textbox", placeholder = "Nazwa firmy" })
                            @Html.TextBoxFor(x => x.CompanyNIP, new { @class = "textbox", placeholder = "NIP" })
                            @Html.TextBoxFor(x => x.CompanyCity, new { @class = "textbox", placeholder = "Miasto" })
                            @Html.TextBoxFor(x => x.CompanyStreet, new { @class = "textbox", placeholder = "Ulica" })
                            @Html.TextBoxFor(x => x.CompanyZipCode, new { @class = "textbox", placeholder = "Kod pocztowy", mask = "99-999" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" class="btn btn-primary" value="Zarejestruj się" />
                    </div>
                </div>
            </div>
        }
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jquerymask")
}
