﻿@{
    Layout = "~/Views/Shared/_AdminLteLayout.cshtml";
}

@section scripts {
    <script>
        $(document).ready(function () {
            //Main.init();

            $('#PaymentShipmentTable').jtable({
                title: 'Płatność za przesyłkę',
                paging: true,
                pageSize: 10,
                sorting: true,
                defaultSorting: 'IDpaymentShipment DESC',
                actions: {
                    listAction: '@Url.Action("PaymentShipment")',
                    deleteAction: '@Url.Action("DeletePaymentShipment")',
                    updateAction: '@Url.Action("UpdatePaymentShipment")',
                    createAction: '@Url.Action("CreatePaymentShipment")'
                },
                fields: {
                    IDpaymentShipment: {
                        key: true,
                        list: true,
                        title: "ID",
                        width: '1%'
                    },
                    PaymentID: {
                        title: 'Płatność',
                        width: '5%',
                        options: '/CmsPayments/Payments',
                        inputClass: 'validate[required]'
                    },
                    ShipmentID: {
                        title: 'Rodzaj przesyłki',
                        width: '5%',
                        options: '/CmsShipments/Shipments',
                        inputClass: 'validate[required]'
                    }
                },
                formCreated: function (event, data) {
                    data.form.validationEngine();
                },
                formSubmitting: function (event, data) {
                    return data.form.validationEngine('validate');
                },
                formClosed: function (event, data) {
                    data.form.validationEngine('hide');
                    data.form.validationEngine('detach');
                }
            });

            //Re-load records when user click 'load records' button.
            $('#LoadRecordsButton').click(function (e) {
                e.preventDefault();
                $('#PaymentShipmentTable').jtable('load', {
                    searchText: $('#searchText').val(),
                });
            });

            $('#PaymentShipmentTable').jtable('load');
        });
    </script>
}
<!-- start: PAGE HEADER -->
<div class="row">
    <div class="col-sm-12">
        <!-- start: PAGE TITLE & BREADCRUMB -->
        <ol class="breadcrumb">
            <li>
                <i class="clip-file"></i>
                <a href="/">
                    Home
                </a>
            </li>
            <li class="active">
                Płatność za przesyłkę
            </li>
        </ol>
        <!-- end: PAGE TITLE & BREADCRUMB -->
    </div>
</div>
<!-- end: PAGE HEADER -->
<!-- start: PAGE CONTENT -->
<div>
    <form>
        Szukana fraza: <input type="text" name="searchText" id="searchText" />
        <button type="submit" id="LoadRecordsButton">Szukaj</button>
    </form>
</div>
<div id="PaymentShipmentTable"></div>


