﻿@{
    Layout = "~/Views/Shared/_AdminLteLayout.cshtml";
}
@section scripts {
    <script>

        function getVars(url) {
            var formData = new FormData();
            var split;
            $.each(url.split("&"), function (key, value) {
                split = value.split("=");
                formData.append(split[0], decodeURIComponent(split[1].replace(/\+/g, " ")));
            });
            return formData;
        }

        // Variable to store your files
        var files;

        $(document).delegate('#input-image', 'change', prepareUpload);

        // Grab the files and set them to our variable
        function prepareUpload(event) {
            files = event.target.files;
        }

        $(document).ready(function () {
            //Main.init();

            $('#ProductsTable').jtable({
                tableId: 'ProductsTable',
                title: 'Lista produktów',
                paging: true,
                pageSize: 10,
                sorting: true,
                defaultSorting: 'IDproduct DESC',
                actions: {
                    listAction: '@Url.Action("Products")',
                    deleteAction: '@Url.Action("DeleteProduct")',
                    updateAction: '@Url.Action("UpdateProduct")',
                    createAction: '@Url.Action("CreateProduct")'
                },
                fields: {
                    Images: {
                        title: '',
                        width: '2%',
                        sorting: false,
                        edit: false,
                        create: false,
                        display: function (imageData) {
                            var $img = $('<i class="fa fa-book" style="font-size:16px; cursor:pointer; color:#007aff; padding:0 5px;" title="Edycja obrazków"></i>');
                            $img.click(function () {
                                $('#ProductsTable').jtable('openChildTable',
                                        $img.closest('tr'),
                                        {
                                            title: 'Produkt ID' + imageData.record.IDproduct + ' - zdjęcia',
                                            actions: {
                                                listAction: '/CmsProducts/GetProductImages?productID=' + imageData.record.IDproduct,
                                                deleteAction: '/CmsProducts/DeleteImage',
                                                updateAction: '/CmsProducts/UpdateImage',
                                                createAction: function (postData) {
                                                    var formData = getVars(postData);

                                                    if ($('#input-image').val() !== "") {
                                                        formData.append("userfile", $('#input-image').get(0).files[0]);
                                                    }

                                                    return $.Deferred(function ($dfd) {
                                                        $.ajax({
                                                            url: '@Url.Action("CreateProductImage", "CmsProducts")' + '?productID=' + imageData.record.IDproduct + "&IsActive=" + postData.IsActive + "&IsMain=" + postData.IsMain,
                                                            type: 'POST',
                                                            dataType: 'json',
                                                            data: formData,
                                                            processData: false,
                                                            contentType: false,
                                                            success: function (data) {
                                                                $dfd.resolve(data);
                                                                $('#table-container').jtable('load');
                                                            },
                                                            error: function () {
                                                                $dfd.reject();
                                                            }
                                                        });
                                                    });
                                                },
                                            },

                                            recordUpdated: function (event, data) {
                                                $('#ProductsTable').jtable('reload');
                                            },
                                            recordAdded: function (event, data) {
                                                $('#ProductsTable').jtable('reload');
                                            },

                                            fields: {
                                                IDimage: {
                                                    key: true,
                                                    create: false,
                                                    edit: false,
                                                    list: true,
                                                    title: "ID",
                                                    width: "2%",
                                                    defaultValue: imageData.record.IDimage
                                                },
                                                Path: {
                                                    title: 'Zdjęcie',
                                                    type: 'file',
                                                    create: false,
                                                    edit: true,
                                                    list: true,
                                                    display: function (data) {
                                                        return '<a class="group1" href="' + data.record.Path + '"><img src="' + data.record.Path + '" width="300" height="207" class="preview"></a>';
                                                    },
                                                    input: function (data) {
                                                        return '<img src="' + data.record.Path + '" width="300" height="207" class="preview">';
                                                    },
                                                    width: "150",
                                                    listClass: "class-row-center",
                                                    edit: false
                                                },
                                                thumb_url: {
                                                    title: 'Wybierz plik',
                                                    list: false,
                                                    create: true,
                                                    input: function (data) {
                                                        html = '<input type ="file" id="input-image" name="userfile" accept="image/*" />';
                                                        return html;
                                                    },
                                                    edit: false
                                                },
                                                IsActive: {
                                                    title: "Widoczny",
                                                    type: 'checkbox',
                                                    values: { 'false': 'Nie', 'true': 'Tak' },
                                                    defaultValue: 'true',
                                                },
                                                IsMain: {
                                                    title: "Zdjęcie główne",
                                                    type: 'checkbox',
                                                    values: { 'false': 'Nie', 'true': 'Tak' },
                                                    defaultValue: 'false',
                                                },
                                                ProductID: {
                                                    type: 'hidden',
                                                    defaultValue: imageData.record.IDproduct
                                                }
                                            },
                                            recordsLoaded: function (event, data) {
                                                PagesGallery.init();
                                            }
                                        }, function (data) { //opened handler
                                            data.childTable.jtable('load');
                                        });
                            });
                            //Return image to show on the person row
                            return $img;
                        }
                    },
                    IDproduct: {
                        key: true,
                        list: true,
                        title: "ID",
                        width: '2%'
                    },
                    ProductName: {
                        title: 'Nazwa produktu',
                        width: '5%'
                    },
                    CategoryID: {
                        title: 'Nazwa kategorii',
                        width: '6%',
                        options: '/CmsCategories/Categories'
                    },
                    ProductName: {
                        title: 'Nazwa produktu',
                        width: '6%'
                    },
                    Visible: {
                        title: 'Widoczny',
                        type: 'checkbox',
                        values: { 'false': 'Nie', 'true': 'Tak' },
                        defaultValue: 'true',
                        width: '2%',
                        list: false
                    },
                    IsDeleted: {
                        title: 'Usunięty',
                        type: 'checkbox',
                        create: false,
                        values: { 'false': 'Nie', 'true': 'Tak' },
                        defaultValue: 'false',
                        width: '2%',
                        list: false
                    },
                    Weight: {
                        title: 'Pozycja na liście wyszukiwania',
                        width: '2%',
                        list: false
                    },
                    PriceNetto: {
                        title: 'Cena netto',
                        width: '3%',
                        defaultValue: '0',
                        display: function (data) {
                            return data.record.PriceNetto.toFixed(2).replace(".", ",");
                        }
                    },
                    PriceBrutto: {
                        title: 'Cena brutto',
                        width: '3%',
                        defaultValue: '0',
                        display: function (data) {
                            return data.record.PriceBrutto.toFixed(2).replace(".", ",");
                        }
                    },
                    ProducerCode: {
                        title: 'Kod producenta',
                        width: '4%'
                    },
                    UnitID: {
                        title: 'Jednostka',
                        width: '1%',
                        options: '/CmsUnits/Units'
                    },
                    Description: {
                        title: 'Opis',
                        width: '5%',
                        type: 'textarea',
                        list: false
                    }
                },
                formCreated: function (event, data) {
                    var priceNetto = data.form.find('input[name="PriceNetto"]').val();
                    $('input[name = "PriceNetto"]').val(parseFloat(priceNetto).toFixed(2).replace(".", ","));
                    var priceBrutto = data.form.find('input[name="PriceBrutto"]').val();
                    $('input[name = "PriceBrutto"]').val(parseFloat(priceBrutto).toFixed(2).replace(".", ","));

                }
            });

            //Re-load records when user click 'load records' button.
            $('#LoadRecordsButton').click(function (e) {
                e.preventDefault();
                $('#ProductsTable').jtable('load', {
                    searchText: $('#searchText').val(),
                });
            });

            $('#ProductsTable').jtable('load');
        });
    </script>
}
<!-- start: PAGE HEADER -->
<div class="row">
    <div class="col-sm-12">
        <!-- start: PAGE TITLE & BREADCRUMB -->
        <ol class="breadcrumb">
            <li>
                <i class="clip-file"></i>
                <a href="/">
                    Home
                </a>
            </li>
            <li class="active">
                Produkty
            </li>
        </ol>
        <!-- end: PAGE TITLE & BREADCRUMB -->
    </div>
</div>
<!-- end: PAGE HEADER -->
<!-- start: PAGE CONTENT -->
<div>
    <form>
        Szukana fraza: <input type="text" name="searchText" id="searchText" />
        <button type="submit" id="LoadRecordsButton">Szukaj</button>
    </form>
</div>
<div id="ProductsTable"></div>
