﻿@* 
 This partial controls the left menu of the AdminLTE dashboard and is called automatically by _AdminLteLayout
    This is where you can add, modify, or remove navigation options in your app
    TODO: This preserves the links as-is for the demo, which lead to broken pages!
    It's up to you to make sure these links either get deleted or lead somewhere REAL!
*@


@{
    Layout = null;
}
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            @*<div class="pull-left image">
                <img src="/Content/AdminLTE/img/user2-160x160.jpg" class="img-circle" alt="User Image" />
            </div>*@
            <div class="pull-left info">
                <p>@User.Identity.Name</p>
                <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
        </div>
        <!-- search form -->
        @*<form action="#" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Search..." />
                <span class="input-group-btn">
                    <button type='submit' name='search' id='search-btn' class="btn btn-flat"><i class="fa fa-search"></i></button>
                </span>
            </div>
        </form>*@
        <!-- /.search form -->
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
            <li class="header">MENU GŁÓWNE</li>
            <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "CmsIndex" ? "active" : "") treeview">
                <a href="@(Url.Action("CmsIndex","CmsIndex"))">
                    <i class="fa fa-files-o"></i> <span>Pulpit</span> <i class="fa"></i>
                </a>
            </li>
            <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Realizations" ? "active" : "") treeview">
                <a href="@(Url.Action("Realizations","CmsRealizations"))">
                    <i class="fa fa-files-o"></i> <span>Zamówienia</span> <i class="fa"></i>
                </a>
            </li>
            <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Products" ? "active" : "") treeview">
                <a href="@(Url.Action("Products","CmsProducts"))">
                    <i class="fa fa-envelope"></i> <span>Produkty</span> <i class="fa"></i>
                </a>
            </li>
            <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Categories" ? "active" : "") treeview">
                <a href="@(Url.Action("Categories","CmsCategories"))">
                    <i class="fa fa-book"></i> <span>Kategorie</span> <i class="fa"></i>
                </a>
            </li>
            <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Customers" ? "active" : "") treeview">
                <a href="@(Url.Action("Customers","CmsCustomers"))">
                    <i class="fa fa-edit"></i> <span>Klienci</span> <i class="fa"></i>
                </a>
            </li>
            <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "News" ? "active" : "") treeview">
                <a href="@(Url.Action("News","CmsNews"))">
                    <i class="fa fa-share"></i> <span>Newsy</span> <i class="fa"></i>
                </a>
            </li>
            <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Payments" ? "active" : "") treeview">
                <a href="@(Url.Action("Payments","CmsPayments"))">
                    <i class="fa fa-table"></i> <span>Płatności</span> <i class="fa"></i>
                </a>
            </li>
            <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Shipments" ? "active" : "") treeview">
                <a href="@(Url.Action("Shipments","CmsShipments"))">
                    <i class="fa fa-laptop"></i> <span>Wysyłka</span> <i class="fa"></i>
                </a>
            </li>
            <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Settings" ? "active" : "") treeview">
                <a href="@(Url.Action("Settings","CmsSettings"))">
                    <i class="fa fa-pie-chart"></i> <span>Ustawienia</span> <i class="fa"></i>
                </a>
            </li>
            <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Units" ? "active" : "") treeview">
                <a href="@(Url.Action("Units","CmsUnits"))">
                    <i class="fa fa-pie-chart"></i> <span>Jednostki</span> <i class="fa"></i>
                </a>
            </li>
            <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Units" ? "active" : "") treeview">
                <a href="@(Url.Action("PaymentShipment","CmsPaymentShipment"))">
                    <i class="fa fa-pie-chart"></i> <span>Płatności za przesyłkę</span> <i class="fa"></i>
                </a>
            </li>
            <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Users" ? "active" : "") treeview">
                <a href="@(Url.Action("Users","CmsUsers"))">
                    <i class="fa fa-pie-chart"></i> <span>Użytkownicy</span> <i class="fa"></i>
                </a>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-files-o"></i>
                    <span>Słowniki</span>
                    @*<span class="label label-primary pull-right">4</span>*@
                </a>
                <ul class="treeview-menu">
                    <li><a href="@(Url.Action("ValueTypes","CmsValueTypes"))"><i class="fa fa-circle-o"></i> Typy danych</a></li>
                </ul>
            </li>
    @*
            <li>
                <a href="pages/widgets.html">
                    <i class="fa fa-th"></i> <span>Widgets</span> <small class="label pull-right bg-green">new</small>
                </a>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-pie-chart"></i>
                    <span>Charts</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li><a href="pages/charts/morris.html"><i class="fa fa-circle-o"></i> Morris</a></li>
                    <li><a href="pages/charts/flot.html"><i class="fa fa-circle-o"></i> Flot</a></li>
                    <li><a href="pages/charts/inline.html"><i class="fa fa-circle-o"></i> Inline charts</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-laptop"></i>
                    <span>UI Elements</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li><a href="pages/UI/general.html"><i class="fa fa-circle-o"></i> General</a></li>
                    <li><a href="pages/UI/icons.html"><i class="fa fa-circle-o"></i> Icons</a></li>
                    <li><a href="pages/UI/buttons.html"><i class="fa fa-circle-o"></i> Buttons</a></li>
                    <li><a href="pages/UI/sliders.html"><i class="fa fa-circle-o"></i> Sliders</a></li>
                    <li><a href="pages/UI/timeline.html"><i class="fa fa-circle-o"></i> Timeline</a></li>
                    <li><a href="pages/UI/modals.html"><i class="fa fa-circle-o"></i> Modals</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-edit"></i> <span>Forms</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li><a href="pages/forms/general.html"><i class="fa fa-circle-o"></i> General Elements</a></li>
                    <li><a href="pages/forms/advanced.html"><i class="fa fa-circle-o"></i> Advanced Elements</a></li>
                    <li><a href="pages/forms/editors.html"><i class="fa fa-circle-o"></i> Editors</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-table"></i> <span>Tables</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li><a href="pages/tables/simple.html"><i class="fa fa-circle-o"></i> Simple tables</a></li>
                    <li><a href="pages/tables/data.html"><i class="fa fa-circle-o"></i> Data tables</a></li>
                </ul>
            </li>
            <li>
                <a href="pages/calendar.html">
                    <i class="fa fa-calendar"></i> <span>Calendar</span>
                    <small class="label pull-right bg-red">3</small>
                </a>
            </li>
            <li>
                <a href="pages/mailbox/mailbox.html">
                    <i class="fa fa-envelope"></i> <span>Mailbox</span>
                    <small class="label pull-right bg-yellow">12</small>
                </a>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-folder"></i> <span>Examples</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li><a href="pages/examples/invoice.html"><i class="fa fa-circle-o"></i> Invoice</a></li>
                    <li><a href="pages/examples/login.html"><i class="fa fa-circle-o"></i> Login</a></li>
                    <li><a href="pages/examples/register.html"><i class="fa fa-circle-o"></i> Register</a></li>
                    <li><a href="pages/examples/lockscreen.html"><i class="fa fa-circle-o"></i> Lockscreen</a></li>
                    <li><a href="pages/examples/404.html"><i class="fa fa-circle-o"></i> 404 Error</a></li>
                    <li><a href="pages/examples/500.html"><i class="fa fa-circle-o"></i> 500 Error</a></li>
                    <li><a href="pages/examples/blank.html"><i class="fa fa-circle-o"></i> Blank Page</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-share"></i> <span>Multilevel</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li><a href="#"><i class="fa fa-circle-o"></i> Level One</a></li>
                    <li>
                        <a href="#"><i class="fa fa-circle-o"></i> Level One <i class="fa fa-angle-left pull-right"></i></a>
                        <ul class="treeview-menu">
                            <li><a href="#"><i class="fa fa-circle-o"></i> Level Two</a></li>
                            <li>
                                <a href="#"><i class="fa fa-circle-o"></i> Level Two <i class="fa fa-angle-left pull-right"></i></a>
                                <ul class="treeview-menu">
                                    <li><a href="#"><i class="fa fa-circle-o"></i> Level Three</a></li>
                                    <li><a href="#"><i class="fa fa-circle-o"></i> Level Three</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li><a href="#"><i class="fa fa-circle-o"></i> Level One</a></li>
                </ul>
            </li>
            <li><a href="documentation/index.html"><i class="fa fa-book"></i> Documentation</a></li>
            <li class="header">LABELS</li>
            <li><a href="#"><i class="fa fa-circle-o text-danger"></i> Important</a></li>
            <li><a href="#"><i class="fa fa-circle-o text-warning"></i> Warning</a></li>
            <li><a href="#"><i class="fa fa-circle-o text-info"></i> Information</a></li>*@
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>