﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - NetShop</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @*@Styles.Render("/Content/MainPage")*@
    @*@Scripts.Render("~/bundles/modernizr")*@
    <link href="/Content/MainPage/animate.css" rel="stylesheet" type="text/css" />
    <link href="/Content/MainPage/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/Content/MainPage/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="/Content/MainPage/main.css" rel="stylesheet" type="text/css" />
    <link href="/Content/MainPage/prettyPhoto.css" rel="stylesheet" type="text/css" />
    <link href="/Content/MainPage/price-range.css" rel="stylesheet" type="text/css" />
    <link href="/Content/MainPage/responsive.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <header>

        <div class="header-middle">
            <!--header-middle-->
            <div class="container">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="logo pull-left">
                            <a href="@Url.Action("Index", "Home")"><img src="~/Images/logo.png" alt="" /></a>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <div class="shop-menu pull-right">
                            <ul class="nav navbar-nav">
                                <li>
                                    <div class="search_box pull-right itemRelative">
                                        <input type="text" placeholder="Wyszukaj produkt" id="searchValue" />
                                        <div class="pointer searchItem">
                                        </div>
                                    </div>
                                </li>
                                @if (User.Identity.IsAuthenticated && User.IsInRole(NetShop.Utils.Const.RolesConst.Customer))
                                {
                                    <li><a href="@Url.Action("MyAccount", "MyAccount")"><i class="fa fa-user"></i> Moje konto</a></li>
                                }
                                else if (User.Identity.IsAuthenticated && User.IsInRole(NetShop.Utils.Const.RolesConst.Admin))
                                {
                                    <li><a href="@Url.Action("CmsIndex", "CmsIndex")"><i class="fa fa-user"></i> Panel administracyjny</a></li>
                                }
                                <li><a href="@Url.Action("Basket", "Basket")"><i class="fa fa-shopping-cart"></i> Koszyk</a></li>
                                <li>
                                    @if (User.Identity.IsAuthenticated)
                                    {
                                        using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", style = "margin-top:10px;" }))
                                        {
                                            @Html.AntiForgeryToken()
                                            <a href="javascript:document.getElementById('logoutForm').submit()"><i class="fa fa-lock"></i> Wyloguj się (@User.Identity.Name)</a>
                                        }
                                    }
                                    else
                                    {
                                        <a href="@Url.Action("Login", "Account")"><i class="fa fa-lock"></i> Zaloguj się</a>
                                    }
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/header-middle-->

    </header>
    <div id="body">
        @RenderSection("featured", required: false)

        <div class="container">
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
    </div>
    <footer id="footer">
        <!--Footer-->

        <div class="footer-widget">
            <div class="container">
                <div class="row">
                    <div class="col-sm-2">
                        <div class="single-widget">
                            <h2>Sklep</h2>
                            <ul class="nav nav-pills nav-stacked">
                                <li><a href="@Url.Action("Contact", "Contact")">Kontakt</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="single-widget">
                            <h2>Regulamin</h2>
                            <ul class="nav nav-pills nav-stacked">
                                <li><a href="@Url.Action("Regulations", "Regulations")">Regulamin</a></li>
                                <li><a href="@Url.Action("CookiesPolicy", "CookiesPolicy")">Polityka plików cookie</a></li>
                                <li><a href="@Url.Action("ReturnPolicy", "ReturnPolicy")">Polityka zwrotów</a></li>
                            </ul>
                        </div>
                    </div>
                    @*<div class="col-sm-2">
                            <div class="single-widget">
                                <h2>About Shopper</h2>
                                <ul class="nav nav-pills nav-stacked">
                                    <li><a href="#">Company Information</a></li>
                                    <li><a href="#">Careers</a></li>
                                    <li><a href="#">Store Location</a></li>
                                    <li><a href="#">Affillate Program</a></li>
                                    <li><a href="#">Copyright</a></li>
                                </ul>
                            </div>
                        </div>*@

                </div>
            </div>
        </div>

        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <p class="pull-left">Copyright © 2015 @NetShop.Repository.GlobalSettings.Instance.ShopName. All rights reserved.</p>
                    <p class="pull-right">Designed by</p>
                </div>
            </div>
        </div>

    </footer><!--/Footer-->
    <!-- start: MAIN JAVASCRIPTS -->
    <script type="text/javascript" src="~/Scripts/jquery.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery-ui-1.9.2.min.js"></script>
    <script type="text/javascript" src="~/Scripts/MainPage/jquery.js"></script>
    <script type="text/javascript" src="~/Scripts/MainPage/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Scripts/MainPage/jquery.scrollUp.min.js"></script>
    <script type="text/javascript" src="~/Scripts/MainPage/price-range.js"></script>
    <script type="text/javascript" src="~/Scripts/MainPage/jquery.prettyPhoto.js"></script>
    <script type="text/javascript" src="~/Scripts/MainPage/main.js"></script>
    <script type="text/javascript" src="~/Scripts/MainPage/html5shiv.js"></script>

    @*<script type="text/javascript" src="/Scripts/MainPage/contact.js"></script>*@

    @*<script type="text/javascript" src="~/Scripts/MainPage/gmaps.js"></script>*@

    @RenderSection("scripts", required: false)
    <script type="text/javascript">
        $('.searchItem').click(function () {
            var searchText = "";
            searchText = $('#searchValue').val();
            window.location.href = '/SearchItem/SearchItem?searchText=' + searchText + '&pageNumber=1&priceSort=ASC&nameSort=ASC&categoryID=-1';
        });

        $(document).keypress(function (e) {
            if ($('#searchValue').val().replace(/ /g, '').length > 0) {
                if ((e.which && e.which == 13) || (e.keyCode && e.keyCode == 13)) {

                    $('.searchItem').click();

                    return false;
                } else {
                    return true;
                }
            }
        });
    </script>

</body>
</html>
