﻿@{
    Layout = "~/Views/Shared/_AdminLteLayout.cshtml";
}


@section scripts {
    <script>
        $(document).ready(function () {
            //Main.init();

            $('#ValueTypesTable').jtable({
                title: 'Dane słownikowe - typy danych dla ustawień',
                paging: true,
                pageSize: 10,
                sorting: true,
                defaultSorting: 'IDvalueType DESC',
                actions: {
                    listAction: '@Url.Action("ValueTypes")',
                    //deleteAction: '@Url.Action("DeleteSetting")',
                    //updateAction: '@Url.Action("UpdateSetting")',
                    createAction: '@Url.Action("CreateSetting")'
                },
                fields: {
                    IDvalueType: {
                        key: true,
                        list: true,
                        title: "ID",
                        width: '1%'
                    },
                    Type: {
                        title: 'Typ',
                        width: '5%',
                        inputClass: 'validate[required]'
                    },
                    Description: {
                        title: 'Opis',
                        width: '6%',
                        type: 'textarea'
                    },
                    IsDeleted: {
                        title: 'Usunięty',
                        type: 'checkbox',
                        values: { 'false': 'Nie', 'true': 'Tak' },
                        defaultValue: 'false',
                        width: '1%',
                    },
                    Creator: {
                        title: 'Twórca',
                        width: '1%',
                        inputClass: 'validate[required]'
                    }
                },
                formCreated: function (event, data) {
                    data.form.find('input[name="Type"]').addClass(
                      'validate[required]');
                    data.form.find('input[name="Creator"]').addClass(
                      'validate[required]');
                    data.form.validationEngine();
                },
                formSubmitting: function (event, data) {
                    return data.form.validationEngine('validate');
                },
                formClosed: function (event, data) {
                    data.form.validationEngine('hide');
                    data.form.validationEngine('detach');
                }
            });

            //Re-load records when user click 'load records' button.
            $('#LoadRecordsButton').click(function (e) {
                e.preventDefault();
                $('#SettingsTable').jtable('load', {
                    searchText: $('#searchText').val(),
                });
            });

            $('#ValueTypesTable').jtable('load');
        });
    </script>
}
<!-- start: PAGE HEADER -->
<div class="row">
    <div class="col-sm-12">
        <!-- start: PAGE TITLE & BREADCRUMB -->
        <ol class="breadcrumb">
            <li>
                <i class="clip-file"></i>
                <a href="/">
                    Home
                </a>
            </li>
            <li class="active">
                Typy danych
            </li>
        </ol>
        <!-- end: PAGE TITLE & BREADCRUMB -->
    </div>
</div>
<!-- end: PAGE HEADER -->
<!-- start: PAGE CONTENT -->
<div>
    <form>
        Szukana fraza: <input type="text" name="searchText" id="searchText" />
        <button type="submit" id="LoadRecordsButton">Szukaj</button>
    </form>
</div>
<div id="ValueTypesTable"></div>
