﻿@model NetShop.Models.MyAccountViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-sm-3">
    <div class="left-sidebar">
        <h2>Kategorie</h2>
        <div class="panel-group category-products" id="accordian">
            <!--category-productsr-->
            @foreach (var category in Model.TreeCategories)
            {
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            @if (@category.LeafCategory != null && category.LeafCategory.Count > 0)
                            {
                                <a data-toggle="collapse" data-parent="#accordian" href="#@category.CategoryName">
                                    <span class="badge pull-right"><i class="fa fa-plus"></i></span>
                                    @category.CategoryName
                                </a>
                            }
                            else
                            {
                                <a href="@Url.Action("CategoryItem", "CategoryItem", new { categoryID = @category.IDCategory, pageNumber=1, priceSort = "ASC", nameSort = "ASC" })">
                                    @category.CategoryName
                                </a>
                            }
                        </h4>
                    </div>
                    @if (category.LeafCategory != null && category.LeafCategory.Count > 0)
                    {
                        <div id="@category.CategoryName" class="panel-collapse collapse">
                            <div class="panel-body">
                                <ul>
                                    @foreach (var parentCategory in category.LeafCategory)
                                    {
                                        <li><a href="@Url.Action("CategoryItem", "CategoryItem", new { categoryID = @parentCategory.IDCategory, pageNumber=1, priceSort="ASC",nameSort="ASC" })">@parentCategory.CategoryName</a></li>
                                    }
                                </ul>
                            </div>
                        </div>
                    }
                </div>
            }
        </div><!--/category-products-->
    </div>
</div>

<section id="cart_items">
    <div class="container">
        <h2>Moje konto</h2>
        @if (!string.IsNullOrEmpty(Model.Result) && !Model.Error)
        {
            <p style="color:green;">@Model.Result</p>
        }
        else if (!string.IsNullOrEmpty(Model.Result) && Model.Error)
        {
            <p style="color:red;">@Model.Result</p>
        }
        <div class="shopper-informations margin-top-30">
            @using (Html.BeginForm("SaveCustomer", "MyAccount", new { customerID = @Model.Customer.IDcustomer, userProfileID = @Model.Customer.UserProfileID }, FormMethod.Post, new { id = "saveCustomer", style = "margin-top:10px;" }))
            {
                @Html.AntiForgeryToken()
                <div class="row">
                    <div class="col-sm-5 clearfix">
                        <div class="bill-to">
                            <div class="form-one">
                                <p>Dane adresowe</p>
                                @Html.TextBoxFor(x => x.Customer.Email, new { @class = "textbox", placeholder = "Adres e-mail*" })
                                @Html.TextBoxFor(x => x.Customer.FirstName, new { @class = "textbox", placeholder = "Imię*" })
                                @Html.TextBoxFor(x => x.Customer.Surname, new { @class = "textbox", placeholder = "Nazwisko*" })
                                @Html.TextBoxFor(x => x.Customer.City, new { @class = "textbox", placeholder = "Miasto*" })
                                @Html.TextBoxFor(x => x.Customer.Street, new { @class = "textbox", placeholder = "Ulica*" })
                                @Html.TextBoxFor(x => x.Customer.ZipCode, new { @class = "textbox", placeholder = "Kod pocztowy*" })
                                @Html.TextBoxFor(x => x.Customer.Phone, new { @class = "textbox", placeholder = "Telefon*" })

                            </div>
                            <div class="form-two">
                                <p>Dane firmy</p>
                                @Html.TextBoxFor(x => x.Customer.CompanyName, new { @class = "textbox", placeholder = "Nazwa firmy" })
                                @Html.TextBoxFor(x => x.Customer.CompanyNIP, new { @class = "textbox", placeholder = "NIP" })
                                @Html.TextBoxFor(x => x.Customer.CompanyCity, new { @class = "textbox", placeholder = "Miasto" })
                                @Html.TextBoxFor(x => x.Customer.CompanyStreet, new { @class = "textbox", placeholder = "Ulica" })
                                @Html.TextBoxFor(x => x.Customer.CompanyZipCode, new { @class = "textbox", placeholder = "Kod pocztowy" })
                                <a class="margin-top-40 margin-bottom-15 btn btn-default colorOrangeButton text-size-18 floatRight padding-10" href="javascript:document.getElementById('saveCustomer').submit()"><i>Zapisz dane</i> </a>
                            </div>
                        </div>
                    </div>
                </div>
                <a class=" margin-bottom-15 btn btn-default colorOrangeButton text-size-18 floatRight padding-10" href="@Url.Action("MyOrders", "MyOrders", new { pageNumber = 1, customerID = @Model.Customer.IDcustomer })">
                    <i>Moje zamówienia</i>
                </a>

            }
        </div>
    </div>
</section>