﻿@model NetShop.Models.BasketViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Koszyk</h2>
<section id="cart_items">
    <div class="container">
        <div class="table-responsive cart_info">
            @if (Model.BasketItems != null && Model.BasketItems.Count > 0)
            {
                <table class="table table-condensed">
                    <thead>
                        <tr class="cart_menu">
                            <td class="image">Przedmiot</td>
                            <td class="description"></td>
                            <td class="price">Cena</td>
                            <td class="quantity">Ilość</td>
                            <td class="total">Suma</td>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (NetShop.Contracts.Class.Basket bas in Model.BasketItems)
                        {
                            <tr>
                                <td class="cart_product cart-image">
                                    @if (bas.ProductImage != null)
                                    {
                                        <a><img src="@bas.ProductImage.Path" alt="@bas.ProductName" class="pictureMax" /></a>
                                    }
                                </td>
                                <td class="cart_description">
                                    <h4><a>@bas.ProductName</a></h4>
                                </td>
                                <td class="cart_price">
                                    <p class="cart-margin unitPrice" id="@bas.ProductID">@bas.PriceBrutto zł@(!string.IsNullOrEmpty(bas.Unit) ? ("/" + bas.Unit) : string.Empty)</p> @*TODO USTAWIENIA GLOBALNE*@
                                </td>
                                <td class="cart_quantity">
                                    <div class="cart_quantity_button">
                                        <a class="cart_quantity_up pointer" id="@bas.ProductID" onclick="UpCount(@bas.ProductID)"> + </a>
                                        <input id="@bas.ProductID" class="cart_quantity_input" onchange="ChangeCount(@bas.ProductID)" type="text" name="quantity" value="@bas.ProductCount" autocomplete="off" size="2">
                                        <a class="cart_quantity_down pointer" id="@bas.ProductID" onclick="DownCount(@bas.ProductID)"> - </a>
                                    </div>
                                </td>
                                <td class="cart_total">
                                    <p id="@bas.ProductID" class="cart_total_price cart-margin">@Math.Round(bas.ProductCount * bas.PriceBrutto, 2) zł</p> @*TODO USTAWIENIA GLOBALNE*@
                                </td>
                                <td class="cart_delete">
                                    <a class="cart_quantity_delete" id="@bas.ProductID"><i class="fa fa-times"></i></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <p>Brak produktów w koszyku.</p>
            }
        </div>
        @if (Model.BasketItems != null && Model.BasketItems.Count > 0)
        {
            <div class="margin-bottom-15 btn btn-default colorOrangeButton text-size-18 floatRight" onclick="window.location.href='@Url.Action("Details", "Details")'">
                Dalej >
            </div>
        }
    </div>
</section> <!--/#cart_items-->
@section Scripts {
    <script type="text/javascript">
        $(".cart_quantity_delete").click(function () {
            var productID = parseInt($(this).attr('id').valueOf());
            var url = "/Basket/RemoveItemFromBasket";
            $.get(url, { productID: productID }, function (data) {
                location.reload();
            });
        });

        function UpCount(productId) {
            var productCount = $('#' + productId + ".cart_quantity_input").val();
            productCount = parseInt(productCount) + 1;

            if (productCount > 0) {
                UpdateProductCount(productId, productCount);
            }
        }

        function DownCount(productId) {
            var productCount = $('#' + productId + ".cart_quantity_input").val();
            productCount = parseInt(productCount) - 1;

            if (productCount > 0) {
                UpdateProductCount(productId, productCount);
            }
        }

        function ChangeCount(productId) {
            var productCount = parseInt($('#' + productId + ".cart_quantity_input").val());

            if (productCount > 0) {
                UpdateProductCount(productId, productCount);
            }
        }

        function UpdateProductCount(productId, productCount) {
            var url = "/Basket/UpdateProductCount";
            $.get(url, { productID: productId, productCount: productCount }, function (data) {
                $('#' + productId + ".cart_quantity_input").val(productCount);
                $('#' + productId + ".cart_total_price").text((data + " zł").replace('.', ','));
            });
        }
    </script>
}