﻿@model NetShop.Models.MyOrdersViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-sm-3">
    <div class="left-sidebar">
        <h2>Kategorie</h2>
        <div class="panel-group category-products" id="accordian">
            <!--category-productsr-->
            @foreach (var category in Model.TreeCategories)
            {
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            @if (@category.LeafCategory != null && category.LeafCategory.Count > 0)
                            {
                                <a data-toggle="collapse" data-parent="#accordian" href="#@category.CategoryName">
                                    <span class="badge pull-right"><i class="fa fa-plus"></i></span>
                                    @category.CategoryName
                                </a>
                            }
                            else
                            {
                                <a href="@Url.Action("CategoryItem", "CategoryItem", new { categoryID = @category.IDCategory, pageNumber=1, priceSort = "ASC", nameSort = "ASC" })">
                                    @category.CategoryName
                                </a>
                            }
                        </h4>
                    </div>
                    @if (category.LeafCategory != null && category.LeafCategory.Count > 0)
                    {
                        <div id="@category.CategoryName" class="panel-collapse collapse">
                            <div class="panel-body">
                                <ul>
                                    @foreach (var parentCategory in category.LeafCategory)
                                    {
                                        <li><a href="@Url.Action("CategoryItem", "CategoryItem", new { categoryID = @parentCategory.IDCategory, pageNumber=1, priceSort="ASC",nameSort="ASC" })">@parentCategory.CategoryName</a></li>
                                    }
                                </ul>
                            </div>
                        </div>
                    }
                </div>
            }
        </div><!--/category-products-->
    </div>
</div>

<section id="cart_items" >
    <div class="container">
        <h2>Moje zamówienia</h2>
        <div class="table-responsive cart_info col-sm-9 alignCenter">
            @if (Model.RealizationList != null && Model.RealizationList.Count > 0)
            {
                <table class="table table-condensed">
                    <thead>
                        <tr class="cart_menu">
                            <td class="image">ID zamówienia</td>
                            <td class="price">Kwota zamówienia</td>
                            <td class="total">Podgląd zamówienia</td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (NetShop.Contracts.Class.Realization real in Model.RealizationList)
                        {
                            <tr>
                                <td class="cart_description">
                                    <h4><a>#@real.IDrealization</a></h4>
                                </td>
                                <td class="cart_price">
                                    <p class="cart-margin">@real.TotalAmountBrutto zł</p> @*TODO USTAWIENIA GLOBALNE*@
                                </td>
                                <td class="cart_quantity">
                                    <div>
                                        <a class="pointer" href="@Url.Action("Order", "Order", new { realizationID = real.IDrealization })"> Podgląd </a>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <p>Brak zamówień.</p>
            }
            @if (Model.RealizationList != null && Model.RealizationList.Count > 0)
            {
                if (Model.PageNumber > 1)
                {
                    <div class="margin-bottom-15 btn btn-default colorOrangeButton text-size-18 floatLeft" onclick="window.location.href='@Url.Action("MyOrders", "MyOrders", new { pageNumber = @Model.PageNumber - 1, customerID = @Model.CustomerID })'">
                        < Poprzednia strona
                    </div>
                }
                if (Model.PageNumber < Model.TotalPageNumber)
                {
                    <div class="margin-bottom-15 btn btn-default colorOrangeButton text-size-18 floatRight" onclick="window.location.href='@Url.Action("MyOrders", "MyOrders", new { pageNumber = @Model.PageNumber + 1, customerID = @Model.CustomerID })'">
                        Następna strona >
                    </div>
                }
            }
        </div>
        
    </div>
</section>