﻿@model NetShop.Models.DetailsViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Dane wysyłkowe</h2>
<section id="cart_items">
    <div class="container">
        <div class="shopper-informations margin-top-30">
            @using (Html.BeginForm("DetailsStep", "Details", FormMethod.Post, new { id = "orderstep", style = "margin-top:10px;" }))
            {
                @Html.AntiForgeryToken()
                <div class="row">
                    <div class="col-sm-5 clearfix">
                        <div class="bill-to">
                            <div class="form-one">
                                <p>Dane adresowe</p>
                                @Html.TextBoxFor(x => x.Customer.Email, new { @class = "textbox", placeholder = "Adres e-mail*" })
                                @Html.TextBoxFor(x => x.Customer.FirstName, new { @class = "textbox", placeholder = "Imię*" })
                                @Html.TextBoxFor(x => x.Customer.Surname, new { @class = "textbox", placeholder = "Nazwisko*" })
                                @Html.TextBoxFor(x => x.Customer.City, new { @class = "textbox", placeholder = "Miasto*" })
                                @Html.TextBoxFor(x => x.Customer.Street, new { @class = "textbox", placeholder = "Ulica*" })
                                @Html.TextBoxFor(x => x.Customer.ZipCode, new { @class = "textbox", placeholder = "Kod pocztowy*" })
                                @Html.TextBoxFor(x => x.Customer.Phone, new { @class = "textbox", placeholder = "Telefon*" })

                            </div>
                            <div class="form-two">
                                <p>Dane firmy</p>
                                @Html.TextBoxFor(x => x.Customer.CompanyName, new { @class = "textbox", placeholder = "Nazwa firmy" })
                                @Html.TextBoxFor(x => x.Customer.CompanyNIP, new { @class = "textbox", placeholder = "NIP" })
                                @Html.TextBoxFor(x => x.Customer.CompanyCity, new { @class = "textbox", placeholder = "Miasto" })
                                @Html.TextBoxFor(x => x.Customer.CompanyStreet, new { @class = "textbox", placeholder = "Ulica" })
                                @Html.TextBoxFor(x => x.Customer.CompanyZipCode, new { @class = "textbox", placeholder = "Kod pocztowy" })
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="order-message">
                            <p>Komentarz</p>
                            @Html.TextAreaFor(x => x.Comment, new { placeholder = "Wpisz tutaj komentarz" })
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <p class="paragraphDetail">Płatność</p>
                        @Html.DropDownListFor(x => x.PaymentID, new SelectList(@Model.PaymentTypes, "IDpayment", "PaymentName"))
                        <p class="paragraphDetail margin-top-30">Wysyłka</p>
                        @Html.DropDownListFor(x => x.ShipmentID, new SelectList(@Model.ShipmentTypes, "IDshipment", "ShipmentValue"))
                    </div>
                </div>
                <div class="margin-top-30">
                    <div class="table-responsive cart_info">
                        <table class="table table-condensed">
                            <thead>
                                <tr class="cart_menu">
                                    <td class="image">Podsumowanie zamówienia</td>
                                    <td class="description">&nbsp;</td>
                                    <td class="price">&nbsp;</td>
                                    <td class="quantity">&nbsp;</td>
                                    <td class="total">&nbsp;</td>
                                    <td></td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td colspan="4">&nbsp;</td>
                                    <td colspan="2">
                                        <table class="table table-condensed total-result">
                                            <tr>
                                                <td class="alignRight">Kwota produktów brutto:</td>
                                                <td class="alignCenter bruttoPrice">@Model.TotalPriceBrutto.ToString("N2") zł</td>
                                            </tr>
                                            <tr class="shipping-cost">
                                                <td class="alignRight">Koszt dostawy:</td>
                                                <td class="alignCenter">Free</td>
                                            </tr> @*TODO USTAWIENIA GLOBALNE*@
                                            <tr>
                                                <td class="alignRight">Razem netto:</td>
                                                <td class="alignCenter sumNetto">@Model.TotalPriceNetto.ToString("N2") zł</td>
                                            </tr>
                                            <tr>
                                                <td class="alignRight">Kwota VAT:</td>
                                                <td class="alignCenter sumVAT">@Model.TotalVat.ToString("N2") zł</td>
                                            </tr>
                                            <tr>
                                                <td class="alignRight">Razem brutto:</td>
                                                <td class="alignCenter"><span class="sumBrutto">@Model.TotalPriceBrutto.ToString("N2") zł</span></td>
                                            </tr>
                                            @*<tr>
                                                    @*<div class="margin-bottom-15 btn btn-default colorOrangeButton text-size-18 floatRight" onclick="window.location.href='@Url.Action("Result", "Result")'">
                                                    <td></td>
                                                    <td class="margin-top-30 btn btn-default colorOrangeButton text-size-18 floatRight padding-10" onclick="window.location.href='@Url.Action("Result", "Result")'"> Złóż zamówienie ></td>

                                                </tr>*@
                                        </table>
                                    </td>
                                </tr>
                            </tbody>

                        </table>
                    </div>
                </div>

                <a class=" margin-bottom-15 btn btn-default colorOrangeButton text-size-18 floatRight padding-10" href="javascript:document.getElementById('orderstep').submit()"><i>Złóż zamówienie ></i> </a>
            }

        </div>
    </div>
</section>

@section Scripts {
    <script type="text/javascript">

        $(document).ready(function () {
            var shipmentPrice = $('#ShipmentID :selected').text().split(' ')[$('#ShipmentID :selected').text().split(' ').length - 1];
            changePrice(shipmentPrice);
        });

        $("#PaymentID").change(function () {
            var paymentID = parseInt($('#PaymentID :selected').val());

            $.ajax({
                url: '/Details/GetShipmentTypes',
                type: 'POST',
                data: { paymentID: paymentID },
                dataType: 'json',
                success: function (result) {
                    var types = result.types;
                    var options = "";
                    for (var i = 0; i < types.length; i++) {
                        options += "<option value=" + types[i].IDshipment + ">" + types[i].ShipmentValue + "</option>";
                    }
                    $("#ShipmentID").html(options);

                    var shipmentPrice = types[0].ShipmentValue.split(' ')[types[0].ShipmentValue.split(' ').length - 1];
                    changePrice(shipmentPrice);
                }
            });
        });

        $("#ShipmentID").change(function () {
            var shipmentPrice = $('#ShipmentID :selected').text().split(' ')[$('#ShipmentID :selected').text().split(' ').length - 1];
            changePrice(shipmentPrice);
        });

        function changePrice(shipmentPrice) {
            $(".shipping-cost .alignCenter").text(shipmentPrice.replace('.', ',')); // TODO USTAWIENIE GLOBALNE
            var bruttoPrice = parseFloat($(".bruttoPrice").text().split(' ')[0].replace(',', '.'));
            var sumPrice = parseFloat(bruttoPrice) + parseFloat(shipmentPrice);
            $(".sumBrutto").text(sumPrice.toFixed(2).replace('.', ',')); // TODO USTAWIENIE GLOBALNE
            var sumNetto = Math.round(sumPrice / 1.23,2);
            $(".sumVAT").text((sumPrice - sumNetto).toFixed(2).replace('.',','));
            $(".sumNetto").text(sumNetto.toFixed(2).replace('.', ','));
        }
    </script>
}