﻿@model NetShop.Models.CategoryViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-sm-3">
    <div class="left-sidebar">
        <h2>- Lista produktów</h2>
        <div class="panel-group category-products" id="accordian">
            <!--category-productsr-->
            @foreach (var category in Model.TreeCategories)
            {
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            @if (@category.LeafCategory != null && category.LeafCategory.Count > 0)
                            {
                                <a data-toggle="collapse" data-parent="#accordian" href="#@category.CategoryName">
                                    <span class="badge pull-right"><i class="fa fa-plus"></i></span>
                                    @category.CategoryName
                                </a>
                            }
                            else
                            {
                                <a href="@Url.Action("CategoryItem", "CategoryItem", new { categoryID = @category.IDCategory, pageNumber=1, priceSort = "ASC", nameSort = "ASC" })">
                                    @category.CategoryName
                                </a>
                            }
                        </h4>
                    </div>
                    @if (category.LeafCategory != null && category.LeafCategory.Count > 0)
                    {
                        <div id="@category.CategoryName" class="panel-collapse collapse">
                            <div class="panel-body">
                                <ul>
                                    @foreach (var parentCategory in category.LeafCategory)
                                    {
                                        <li><a href="@Url.Action("CategoryItem", "CategoryItem", new { categoryID = @parentCategory.IDCategory, pageNumber=1, priceSort="ASC",nameSort="ASC" })">@parentCategory.CategoryName</a></li>
                                    }
                                </ul>
                            </div>
                        </div>
                    }
                </div>
            }
        </div><!--/category-products-->
        <div>
            <span class="text-size-20 text-bold alignCenter">Filtruj:</span> <br /><br />
            <input type="checkbox" class="sort" id="sortPriceDESC" name="sortPriceDESC" value="false" /> Sortuj wg ceny <br /><br />
            <input type="checkbox" class="sort" id="sortNameDESC" name="sortNameDESC" value="false" /> Sortuj wg nazwy <br />
        </div>
    </div>
</div>
<div class="features_items" style="margin-bottom: 30px;">
    <!--features_items-->
    <h2 class="title text-center">@Model.Category.CategoryName - lista produktów</h2>
    <div class="col-sm-9 padding-right resize">
        <div class="features_items">
            <!--features_items-->
            @if (Model.ProductList != null && Model.ProductList.Count > 0)
            {
                <table>
                    @for (int i = 0; i < Model.ProductList.Count; i = i + 4)
                    {
                        <tr>
                            @foreach (NetShop.Contracts.Class.Product product in Model.ProductList.Skip(i).Take(4))
                            {
                                <td class="col-sm-3">
                                    <div class="product-image-wrapper pointer">
                                        <div class="single-products" onclick="window.location.href='@Url.Action("Product", "Product", new { productID = @product.IDproduct })';">
                                            <div class="productinfo text-center">
                                                @if (product.ProductImage != null)
                                                {
                                                    <img src="@product.ProductImage.Path" alt="@product.ProductName" />
                                                }
                                                else
                                                {
                                                    <div class="divSpace"></div>
                                                }
                                                <p>@product.ProductName</p><h2>@product.PriceBrutto zł@(!string.IsNullOrEmpty(product.Unit) ? ("/" + product.Unit) : string.Empty)</h2>

                                            </div>
                                            <div class="product-overlay">
                                                <div class="overlay-content">
                                                    <div onclick="window.location.href='@Url.Action("Product", "Product", new { productID = @product.IDproduct })';">
                                                        <h2>@product.PriceBrutto zł@(!string.IsNullOrEmpty(product.Unit) ? ("/" + product.Unit) : string.Empty)</h2>
                                                        <p>@product.ProductName</p>
                                                    </div>
                                                    <p>Kliknij, by zobaczyć szczegóły</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            }
                        </tr>
                    }
                </table>
            }
            else
            {
                <div>
                    <p class="font-size-16">Brak produktów.</p>
                </div>
            }


        </div>
        <div>
            @if ((Model.PageNumber > 1 && Model.PageNumber < Model.LastIndex) || (Model.PageNumber > 1 && Model.PageNumber == Model.LastIndex))
            {
                <a class="left recommended-item-control previousAct">
                    <i class="fa fa-angle-left"></i>
                </a>
            }
            @if (Model.PageNumber < Model.LastIndex)
            {
                <a class="right recommended-item-control nextAct">
                    <i class="fa fa-angle-right"></i>
                </a>
            }
        </div>
    </div>
</div>
<script type="text/javascript" src="~/Scripts/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        //$(".col-sm-9 > div:first > div:first").addClass("productMargin");

        if (getUrlParameter('nameSort') == "DESC") {
            $('#sortNameDESC').prop('checked', true);
        }
        else {
            $('#sortNameDESC').prop('checked', false);
        }

        if (getUrlParameter('priceSort') == "DESC") {
            $('#sortPriceDESC').prop('checked', true);
        }
        else {
            $('#sortPriceDESC').prop('checked', false);
        }

        $('.sort').click(function () {
            var sortName = $('#sortNameDESC').prop('checked');
            var sortPrice = $('#sortPriceDESC').prop('checked');
            var sPrice = "";
            var sName = "";
            if (sortPrice == false) {
                sPrice = "ASC";
            }
            else {
                sPrice = "DESC";
            }
            if (sortName == false) {
                sName = "ASC";
            }
            else {
                sName = "DESC";
            }

            var categoryID = "";
            categoryID = getUrlParameter('categoryID');

            window.location.href = '/CategoryItem/CategoryItem?categoryID=' + categoryID + '&pageNumber=1&priceSort=' + sPrice + '&nameSort=' + sName;
        });
    });


    $(".previousAct").click(function () {
        var categoryID = getUrlParameter('categoryID');
        var sPrice = getUrlParameter('priceSort');
        var sName = getUrlParameter('nameSort');
        var pageNumber = getUrlParameter('pageNumber');
        pageNumber = parseInt(pageNumber) - 1;
        window.location.href = '/CategoryItem/CategoryItem?categoryID=' + categoryID + '&pageNumber=' + pageNumber + '&priceSort=' + sPrice + '&nameSort=' + sName;
    });

    $(".nextAct").click(function () {
        var categoryID = getUrlParameter('categoryID');
        var sPrice = getUrlParameter('priceSort');
        var sName = getUrlParameter('nameSort');
        var pageNumber = getUrlParameter('pageNumber');
        pageNumber = parseInt(pageNumber) + 1;
        window.location.href = '/CategoryItem/CategoryItem?categoryID=' + categoryID + '&pageNumber=' + pageNumber + '&priceSort=' + sPrice + '&nameSort=' + sName;
    });

    var getUrlParameter = function getUrlParameter(sParam) {
        var sPageURL = decodeURIComponent(window.location.search.substring(1)),
            sURLVariables = sPageURL.split('&'),
            sParameterName,
            i;

        for (i = 0; i < sURLVariables.length; i++) {
            sParameterName = sURLVariables[i].split('=');

            if (sParameterName[0] === sParam) {
                return sParameterName[1] === undefined ? true : sParameterName[1];
            }
        }
    };

</script>