﻿@{
    Layout = "~/Views/Shared/_AdminLteLayout.cshtml";
}

@section scripts {
    <script>
        $(document).ready(function () {
            //Main.init();

            $('#UsersTable').jtable({
                title: 'Lista użytkowników',
                paging: true,
                pageSize: 10,
                sorting: true,
                defaultSorting: 'UserId DESC',
                actions: {
                    listAction: '/CmsUsers/GetUsers',
                    createAction: '/CmsUsers/AddUser',
                    deleteAction: '/CmsUsers/DeleteUser'
                },
                fields: {
                    UserId: {
                        list: true,
                        title: "ID",
                        width: '2%'
                    },
                    UserName: {
                        key: true,
                        title: 'Nazwa użytkownika',
                        width: '30%',
                    },
                    Password: {
                        title: 'Hasło',
                        width: '5%',
                        list: false,
                        type: 'password'
                    }
                },
                formCreated: function (event, data) {
                    data.form.find('input[name="RoleID"]').addClass(
                      'validate[required]');
                    data.form.validationEngine();
                },
                formSubmitting: function (event, data) {
                    return data.form.validationEngine('validate');
                },
                formClosed: function (event, data) {
                    data.form.validationEngine('hide');
                    data.form.validationEngine('detach');
                }
            });

            //Re-load records when user click 'load records' button.
            $('#LoadRecordsButton').click(function (e) {
                e.preventDefault();
                $('#UsersTable').jtable('load', {
                    searchText: $('#searchText').val(),
                });
            });

            $('#UsersTable').jtable('load');
        });
    </script>
}

<!-- start: PAGE HEADER -->
<div class="row">
    <div class="col-sm-12">
        <!-- start: PAGE TITLE & BREADCRUMB -->
        <ol class="breadcrumb">
            <li>
                <i class="clip-file"></i>
                <a href="/">
                    Home
                </a>
            </li>
            <li class="active">
                Lista użytkowników
            </li>
        </ol>
    </div>
</div>
<!-- end: PAGE HEADER -->
<!-- start: PAGE CONTENT -->
<div>
    <form>
        <div class="form-group">
            <label class="control-label" style="float:left; line-height:34px;"> Szukana fraza:  </label>
            <div class="col-sm-2">
                <input type="text" name="searchText" id="searchText" class="form-control" />
            </div>
            <button type="submit" id="LoadRecordsButton" class="btn btn-default">Szukaj</button>
        </div>
    </form>
</div>
<div id="UsersTable"></div>
<!-- end: PAGE CONTENT-->
