﻿@model NetShop.Models.OrderViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*<div class="col-sm-3">
        <div class="left-sidebar">
            <h2>Kategorie</h2>
            <div class="panel-group category-products" id="accordian">
                <!--category-productsr-->
                @foreach (var category in Model.TreeCategories)
                {
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                @if (@category.LeafCategory != null && category.LeafCategory.Count > 0)
                                {
                                    <a data-toggle="collapse" data-parent="#accordian" href="#@category.CategoryName">
                                        <span class="badge pull-right"><i class="fa fa-plus"></i></span>
                                        @category.CategoryName
                                    </a>
                                }
                                else
                                {
                                    <a href="@Url.Action("CategoryItem", "CategoryItem", new { categoryID = @category.IDCategory, pageNumber=1, priceSort = "ASC", nameSort = "ASC" })">
                                        @category.CategoryName
                                    </a>
                                }
                            </h4>
                        </div>
                        @if (category.LeafCategory != null && category.LeafCategory.Count > 0)
                        {
                            <div id="@category.CategoryName" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <ul>
                                        @foreach (var parentCategory in category.LeafCategory)
                                        {
                                            <li><a href="@Url.Action("CategoryItem", "CategoryItem", new { categoryID = @parentCategory.IDCategory, pageNumber=1, priceSort="ASC",nameSort="ASC" })">@parentCategory.CategoryName</a></li>
                                        }
                                    </ul>
                                </div>
                            </div>
                        }
                    </div>
                }
            </div><!--/category-products-->
        </div>
    </div>*@

<section id="cart_items">
    <div class="container">
        <div class="shopper-informations margin-top-30">
            <div class="margin-top-30">
                <div class="table-responsive cart_info">
                    <table class="table table-condensed">
                        <thead>
                            <tr class="cart_menu">
                                <td class="image">Szczegóły zamówienia #@Model.Realization.IDrealization</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td></td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td colspan="2">
                                    <table class="table table-condensed total-result">

                                        <tr>
                                            <td class="alignCenter">Numer zamówienia:</td>
                                            <td class="floatLeft">#@Model.Realization.IDrealization</td>
                                        </tr>
                                        <tr>
                                            <td class="alignCenter">Kwota zamówienia:</td>
                                            <td class="floatLeft">@Model.Realization.TotalAmountBrutto zł</td> @*TODO USTAWIENIA GLOBALNE*@
                                        </tr>
                                        <tr>
                                            <td class="alignCenter">Płatność:</td>
                                            <td class="floatLeft">@Model.Realization.PaymentName</td>
                                        </tr>
                                        <tr>
                                            <td class="alignCenter">Rodzaj dostawy:</td>
                                            <td class="floatLeft">@Model.Realization.ShipmentName</td>
                                        </tr>
                                        <tr>
                                            <td class="alignCenter">Status zamówienia:</td>
                                            <td class="floatLeft"><span>@Model.Realization.StatusName</span></td>
                                        </tr>
                                    </table>
                                </td>
                                <td colspan="4">
                                    &nbsp;
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="table-responsive cart_info">
                    @if (Model.RealizationItems != null && Model.RealizationItems.Count > 0)
                    {
                        <table class="table table-condensed">
                            <thead>
                                <tr class="cart_menu">
                                    <td class="image">Przedmiot</td>
                                    <td class="description"></td>
                                    <td class="price">Cena</td>
                                    <td class="quantity">Ilość</td>
                                    <td class="total">Suma</td>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (NetShop.Contracts.Class.Order item in Model.RealizationItems)
                                {
                                    <tr>
                                        <td class="cart_product cart-image">
                                            @if (item.ProductImage != null)
                                            {
                                                <a><img src="@item.ProductImage.Path" alt="@item.ProductName" class="pictureMax" /></a>
                                            }
                                        </td>
                                        <td class="cart_description">
                                            <h4><a>@item.ProductName</a></h4>
                                        </td>
                                        <td class="cart_price">
                                            <p class="cart-margin">@item.ProductPriceBrutto zł@(!string.IsNullOrEmpty(item.Unit) ? ("/" + item.Unit) : string.Empty)</p> @*TODO USTAWIENIA GLOBALNE*@
                                        </td>
                                        <td class="cart_description">
                                            <h4><a>@item.OrderedCount</a></h4>
                                        </td>
                                        <td class="cart_total">
                                            <p class="cart_total_price cart-margin">@Math.Round(item.OrderedCount * item.ProductPriceBrutto, 2) zł</p> @*TODO USTAWIENIA GLOBALNE*@
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                    else
                    {
                        <p>Brak produktów w zamówieniu.</p>
                    }
                </div>

            </div>
        </div>
    </div>
    <div class="margin-bottom-15 btn btn-default colorOrangeButton text-size-18 floatRight" onclick="window.location.href='@Url.Action("MyOrders", "MyOrders", new { pageNumber = 1, customerID = @Model.CustomerID})'">
        Powrót do listy zamówień >
    </div>
</section>

