﻿@{
    Layout = "~/Views/Shared/_AdminLteLayout.cshtml";
}

@section scripts {
    <script>
        $(document).ready(function () {
            //Main.init();

            $('#CategoryTable').jtable({
                title: 'Lista kategorii',
                paging: true,
                pageSize: 10,
                sorting: true,
                defaultSorting: 'IDcategory DESC',
                actions: {
                    listAction: '@Url.Action("SearchCategories")',
                    deleteAction: '@Url.Action("DeleteCategory")',
                    updateAction: '@Url.Action("UpdateCategory")',
                    createAction: '@Url.Action("CreateCategory")'
                },
                fields: {
                    ParentCategory: {
                        title: '',
                        width: '2%',
                        sorting: false,
                        edit: false,
                        create: false,
                        display: function (parentCategoryData) {
                            //Create an image that will be used to open child table
                            var $img = $('<i class="fa fa-book" style="font-size:16px; cursor:pointer; color:#007aff; padding:0 5px;" title="Edycja komponentów"></i>');
                            //Open child table when user clicks the image
                            $img.click(function () {
                                $('#CategoryTable').jtable('openChildTable',
                                        $img.closest('tr'),
                                        {
                                            title: 'Kategoria ID' + parentCategoryData.record.IDcategory + ' - szczegoły',
                                            actions: {
                                                listAction: '/CmsCategories/GetChildrenCategory?parentID=' + parentCategoryData.record.IDcategory,
                                                deleteAction: '@Url.Action("DeleteCategory")',
                                                updateAction: '@Url.Action("UpdateCategory")',
                                                createAction: '@Url.Action("CreateCategory")'
                                            },
                                            fields: {
                                                IDcategory: {
                                                    key: true,
                                                    create: false,
                                                    edit: false,
                                                    list: true,
                                                    title: "ID",
                                                    width: '1%',
                                                    defaultValue: parentCategoryData.record.IDcategory
                                                },
                                                CategoryName: {
                                                    title: 'Nazwa kategorii',
                                                    width: '5%',
                                                    inputClass: 'validate[required]'
                                                },
                                                ParentID: {
                                                    title: 'Kategoria nadrzędna',
                                                    width: '6%',
                                                    options: '/CmsCategories/SearchCategories',
                                                    inputClass: 'validate[required]',
                                                    list: false,
                                                    defaultValue: parentCategoryData.record.IDcategory
                                                },
                                                Description: {
                                                    title: 'Opis kategorii',
                                                    width: '6%',
                                                    type: 'textarea',
                                                    list: false
                                                },
                                                Visible: {
                                                    title: 'Widoczny',
                                                    type: 'checkbox',
                                                    values: { 'false': 'Nie', 'true': 'Tak' },
                                                    defaultValue: 'true',
                                                    width: '1%',
                                                },
                                                IsDeleted: {
                                                    title: 'Usunięty',
                                                    type: 'checkbox',
                                                    create: false,
                                                    values: { 'false': 'Nie', 'true': 'Tak' },
                                                    defaultValue: 'false',
                                                    width: '1%',
                                                }
                                            },
                                            formCreated: function (event, data) {
                                                data.form.find('input[name="CategoryName"]').addClass(
                                                  'validate[required]');
                                                data.form.find('input[name="ParentID"]').addClass(
                                                  'validate[required]');
                                                data.form.validationEngine();
                                            },
                                            formSubmitting: function (event, data) {
                                                return data.form.validationEngine('validate');
                                            },
                                            formClosed: function (event, data) {
                                                data.form.validationEngine('hide');
                                                data.form.validationEngine('detach');
                                            }
                                        }, function (data) { //opened handler
                                            data.childTable.jtable('load');
                                        });
                            });
                            //Return image to show on the person row
                            return $img;
                        }
                    },
                    IDcategory: {
                        key: true,
                        list: true,
                        title: "ID",
                        width: '1%'
                    },
                    CategoryName: {
                        title: 'Nazwa kategorii',
                        width: '5%',
                        inputClass: 'validate[required]'
                    },
                    ParentID: {
                        title: 'Kategoria nadrzędna',
                        width: '6%',
                        options: '/CmsCategories/SearchCategories',
                        inputClass: 'validate[required]'
                    },
                    Description: {
                        title: 'Opis kategorii',
                        width: '6%',
                        type: 'textarea',
                        list: false
                    },
                    Visible: {
                        title: 'Widoczny',
                        type: 'checkbox',
                        values: { 'false': 'Nie', 'true': 'Tak' },
                        defaultValue: 'true',
                        width: '1%',
                    },
                    IsDeleted: {
                        title: 'Usunięty',
                        type: 'checkbox',
                        create: false,
                        values: { 'false': 'Nie', 'true': 'Tak' },
                        defaultValue: 'false',
                        width: '1%',
                    }
                },
                formCreated: function (event, data) {
                    data.form.find('input[name="CategoryName"]').addClass(
                      'validate[required]');
                    data.form.find('input[name="ParentID"]').addClass(
                      'validate[required]');
                    data.form.validationEngine();
                },
                formSubmitting: function (event, data) {
                    return data.form.validationEngine('validate');
                },
                formClosed: function (event, data) {
                    data.form.validationEngine('hide');
                    data.form.validationEngine('detach');
                }
            });

            //Re-load records when user click 'load records' button.
            $('#LoadRecordsButton').click(function (e) {
                e.preventDefault();
                $('#CategoryTable').jtable('load', {
                    searchText: $('#searchText').val(),
                });
            });

            $('#CategoryTable').jtable('load');
        });
    </script>
}
<!-- start: PAGE HEADER -->
<div class="row">
    <div class="col-sm-12">
        <!-- start: PAGE TITLE & BREADCRUMB -->
        <ol class="breadcrumb">
            <li>
                <i class="clip-file"></i>
                <a href="/">
                    Home
                </a>
            </li>
            <li class="active">
                Kategorie
            </li>
        </ol>
        <!-- end: PAGE TITLE & BREADCRUMB -->
    </div>
</div>
<!-- end: PAGE HEADER -->
<!-- start: PAGE CONTENT -->
<div>
    <form>
        Szukana fraza: <input type="text" name="searchText" id="searchText" />
        <button type="submit" id="LoadRecordsButton">Szukaj</button>
    </form>
</div>
<div id="CategoryTable"></div>
