﻿@{
    ViewBag.Title = "Klienci";
    Layout = "~/Views/Shared/_AdminLteLayout.cshtml";
}
@section scripts {
    <script>
        $(document).ready(function () {
            //Main.init();

            $('#CustomersTable').jtable({
                tableId: 'CustomersTable',
                title: 'Lista klientów',
                paging: true,
                pageSize: 10,
                sorting: true,
                defaultSorting: 'IDcustomer DESC',
                actions: {
                    listAction: '@Url.Action("Customers")',
                    deleteAction: '@Url.Action("DeleteCustomer")',
                    updateAction: '@Url.Action("UpdateCustomer")',
                    createAction: '@Url.Action("CreateCustomer")'
                },
                fields: {
                    IDcustomer: {
                        key: true,
                        list: true,
                        title: "ID",
                        width: '2%'
                    },
                    FirstName: {
                        title: 'Imię',
                        width: '5%'
                    },
                    Surname: {
                        title: 'Nazwisko',
                        width: '5%',
                    },
                    ZipCode: {
                        title: 'Kod pocztowy',
                        width: '2%'
                    },
                    City: {
                        title: 'Miasto',
                        width: '4%'
                    },
                    Street: {
                        title: 'Ulica',
                        width: '4%'
                    },
                    CompanyName: {
                        title: 'Nazwa firmy',
                        width: '2%',
                        list: false
                    },
                    CompanyNIP: {
                        title: 'NIP',
                        width: '2%',
                        list: false
                    },
                    CompanyZipCode: {
                        title: 'Kod pocztowy - firma',
                        width: '2%',
                        list: false
                    },
                    CompanyCity: {
                        title: 'Miasto - firma',
                        width: '4%',
                        list: false
                    },
                    CompanyStreet: {
                        title: 'Ulica - firma',
                        width: '4%',
                        list: false
                    },
                    Email: {
                        title: 'E-mail',
                        width: '4%'
                    },
                    Phone: {
                        title: 'Telefon',
                        width: '4%'
                    },
                    UserProfileID: {
                        type: 'hidden'
                    },
                    UserName: {
                        title: 'Login',
                        width: '3%',
                        edit: false,
                        list: false
                    },
                    Password: {
                        title: 'Hasło',
                        width: '3%',
                        type: 'password',
                        visibility: 'hidden'
                    },
                    IsDeleted: {
                        type: 'hidden'
                    }
                }
            });

            //Re-load records when user click 'load records' button.
            $('#LoadRecordsButton').click(function (e) {
                e.preventDefault();
                $('#CustomersTable').jtable('load', {
                    searchText: $('#searchText').val(),
                });
            });

            $('#CustomersTable').jtable('load');
        });
    </script>
}
<!-- start: PAGE HEADER -->
<div class="row">
    <div class="col-sm-12">
        <!-- start: PAGE TITLE & BREADCRUMB -->
        <ol class="breadcrumb">
            <li>
                <i class="clip-file"></i>
                <a href="/">
                    Home
                </a>
            </li>
            <li class="active">
                Klienci
            </li>
        </ol>
        <!-- end: PAGE TITLE & BREADCRUMB -->
    </div>
</div>
<!-- end: PAGE HEADER -->
<!-- start: PAGE CONTENT -->
<div>
    <form>
        Szukana fraza: <input type="text" name="searchText" id="searchText" />
        <button type="submit" id="LoadRecordsButton">Szukaj</button>
    </form>
</div>
<div id="CustomersTable"></div>
