﻿@model NetShop.Models.SearchProductViewModel
@{
    ViewBag.Title = "SearchProduct";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>
    <div class="col-sm-3">
        <div class="left-sidebar">
            <h2>Kategorie</h2>
            <div class="panel-group category-products" id="accordian">
                <!--category-productsr-->
                @foreach (var category in Model.TreeCategories)
                {
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                @if (@category.LeafCategory != null && category.LeafCategory.Count > 0)
                                {
                                    <a data-toggle="collapse" data-parent="#accordian" href="#@category.CategoryName">
                                        <span class="badge pull-right"><i class="fa fa-plus"></i></span>
                                        @category.CategoryName
                                    </a>
                                }
                                else
                                {
                                    <a href="@Url.Action("CategoryItem", "CategoryItem", new { categoryID = @category.IDCategory, pageNumber=1, priceSort = "ASC", nameSort = "ASC" })">
                                        @category.CategoryName
                                    </a>
                                }
                            </h4>
                        </div>
                        @if (category.LeafCategory != null && category.LeafCategory.Count > 0)
                        {
                            <div id="@category.CategoryName" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <ul>
                                        @foreach (var parentCategory in category.LeafCategory)
                                        {
                                            <li><a href="@Url.Action("CategoryItem", "CategoryItem", new { categoryID = @parentCategory.IDCategory, pageNumber=1, priceSort="ASC",nameSort="ASC" })">@parentCategory.CategoryName</a></li>
                                        }
                                    </ul>
                                </div>
                            </div>
                        }
                    </div>
                }
            </div><!--/category-products-->
        </div>
    </div>
    <div class="features_items" style="margin-bottom: 30px;">
        <!--features_items-->
        <h2 class="title text-center">Szukaj dla - @Model.SearchText</h2>
        <div class="col-sm-9 padding-right resize">
            <div class="features_items">
                <!--features_items-->
                @if (Model.ProductList != null && Model.ProductList.Count > 0)
                {
                    foreach (NetShop.Contracts.Class.Product product in Model.ProductList)
                    {
                        <div class="col-sm-3">
                            <div class="product-image-wrapper pointer">
                                <div class="single-products">
                                    <div class="productinfo text-center" onclick="window.location.href='@Url.Action("Product", "Product", new { productID = @product.IDproduct })';">
                                        @if (product.ProductImage != null)
                                        {
                                            <img src="@product.ProductImage.Path" alt="@product.ProductName" />
                                        }
                                        <h2>@product.PriceBrutto zł</h2>
                                        <p>@product.ProductName</p>
                                    </div>
                                    <div class="product-overlay">
                                        <div class="overlay-content">
                                            <div onclick="window.location.href='@Url.Action("Product", "Product", new { productID = @product.IDproduct })';">
                                                <h2>@product.PriceBrutto zł</h2>
                                                <p>@product.ProductName</p>
                                            </div>
                                            <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Dodaj do koszyka</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
                else
                {
                    <div>
                        <p class="font-size-16">Brak produktów.</p>
                    </div>
                }
            </div>
        </div>
    </div>
</body>