﻿@{
    Layout = "~/Views/Shared/_AdminLteLayout.cshtml";
}

@section scripts {
    <script>
        $(document).ready(function () {
            //Main.init();

            $('#ShipmentTypesTable').jtable({
                title: 'Rodzaje wysyłki',
                paging: true,
                pageSize: 10,
                sorting: true,
                defaultSorting: 'IDshipment DESC',
                actions: {
                    listAction: '@Url.Action("Shipments")',
                    deleteAction: '@Url.Action("DeleteShipment")',
                    updateAction: '@Url.Action("UpdateShipment")',
                    createAction: '@Url.Action("CreateShipment")'
                },
                fields: {
                    IDshipment: {
                        key: true,
                        list: true,
                        title: "ID",
                        width: '1%'
                    },
                    Code: {
                        title: 'Kod wysyłki',
                        width: '5%',
                        inputClass: 'validate[required]'
                    },
                    ShipmentName: {
                        title: 'Rodzaj wysyłki',
                        width: '5%',
                        inputClass: 'validate[required]'
                    },
                    ShipmentPrice: {
                        title: 'Koszt wysyłki',
                        width: '3%',
                        defaultValue: '0',
                        display: function (data) {
                            return data.record.ShipmentPrice.toFixed(2).replace(".", ",");
                        }
                    },
                    IsActive: {
                        title: 'Czy aktywny',
                        type: 'checkbox',
                        values: { 'false': 'Nie', 'true': 'Tak' },
                        defaultValue: 'true',
                        width: '1%',
                    }
                },
                formCreated: function (event, data) {
                    data.form.find('input[name="Code"]').addClass(
                      'validate[required]');
                    data.form.find('input[name="ShipmentName"]').addClass(
                      'validate[required]');
                    data.form.find('input[name="ShipmentPrice"]').addClass(
                      'validate[required]');
                    data.form.validationEngine();
                },
                formSubmitting: function (event, data) {
                    return data.form.validationEngine('validate');
                },
                formClosed: function (event, data) {
                    data.form.validationEngine('hide');
                    data.form.validationEngine('detach');
                }
            });

            //Re-load records when user click 'load records' button.
            $('#LoadRecordsButton').click(function (e) {
                e.preventDefault();
                $('#ShipmentTypesTable').jtable('load', {
                    searchText: $('#searchText').val(),
                });
            });

            $('#ShipmentTypesTable').jtable('load');
        });
    </script>
}
<!-- start: PAGE HEADER -->
<div class="row">
    <div class="col-sm-12">
        <!-- start: PAGE TITLE & BREADCRUMB -->
        <ol class="breadcrumb">
            <li>
                <i class="clip-file"></i>
                <a href="/">
                    Home
                </a>
            </li>
            <li class="active">
                Rodzaje wysyłki
            </li>
        </ol>
        <!-- end: PAGE TITLE & BREADCRUMB -->
    </div>
</div>
<!-- end: PAGE HEADER -->
<!-- start: PAGE CONTENT -->
<div>
    <form>
        Szukana fraza: <input type="text" name="searchText" id="searchText" />
        <button type="submit" id="LoadRecordsButton">Szukaj</button>
    </form>
</div>
<div id="ShipmentTypesTable"></div>

