﻿@{
    ViewBag.Title = "Zamówienia";
    Layout = "~/Views/Shared/_AdminLteLayout.cshtml";
}

@section scripts {
    <script>
        $(document).ready(function () {
            //Main.init();

            $('#RealizationsTable').jtable({
                //title: 'Zamówienia',
                paging: true,
                pageSize: 10,
                sorting: true,
                defaultSorting: 'IDrealization DESC',
                actions: {
                    listAction: '/CmsRealizations/Realizations',
                    updateAction: '/CmsRealizations/UpdateRealizations',
                    deleteAction: '/CmsRealizations/DeleteRealizations'
                },
                fields: {
                    RealizationItemList: {
                        title: '',
                        width: '1%',
                        sorting: false,
                        display: function (data) {
                            var $img = $('<i class="fa fa-table" style="font-size:16px; cursor:pointer; color:#007aff; padding:0 5px;"></i>');
                            $img.click(function () {
                                $('#RealizationsTable').jtable('openChildTable',
                                     $img.closest('tr'),
                                     {
                                         title: data.record.IDrealization + ' - zawartość zamówienia',
                                         actions: {
                                             listAction: '/CmsRealizations/RealizationItems?realizationID=' + data.record.IDrealization,
                                             createAction: '/CmsRealizations/AddItem',
                                             updateAction: '/CmsRealizations/UpdateItem',
                                             deleteAction: '/CmsRealizations/DeleteItem'
                                         },
                                         recordAdded: function (event, data) {
                                             $('#RealizationsTable').jtable('reload');
                                         },
                                         recordUpdated: function (event, data) {
                                             $('#RealizationsTable').jtable('reload');
                                         },
                                         recordDeleted: function (event, data) {
                                             $('#RealizationsTable').jtable('reload');
                                         },
                                         fields: {
                                             IDrealizationItem: {
                                                 key: true,
                                                 create: false,
                                                 edit: false,
                                                 list: true,
                                                 title: "ID",
                                                 width: "2%"
                                             },
                                             RealizationID: {
                                                 type: 'hidden',
                                                 defaultValue: data.record.IDrealization
                                             },
                                             ProductID: {
                                                 title: 'Produkt',
                                                 width: '5%',
                                                 list: false,
                                                 edit: false,
                                                 options: '/CmsProducts/Products'
                                             },
                                             ProductCount: {
                                                 title: 'Ilość',
                                                 defaultValue: '0',
                                                 list: false,
                                                 edit: false
                                             },
                                             ProductName: {
                                                 title: 'Nazwa produktu',
                                                 width: '5%',
                                                 create: false,
                                                 edit: false
                                             },
                                             ProductPriceBrutto: {
                                                 title: 'Cena brutto',
                                                 width: '5%',
                                                 defaultValue: '0',
                                                 display: function (data) {
                                                     return data.record.ProductPriceBrutto.toFixed(2).replace(".", ",");
                                                 }
                                             }
                                         },
                                         formCreated: function (event, data) {
                                             var priceBrutto = data.form.find('input[name="ProductPriceBrutto"]').val();
                                             $('input[name = "ProductPriceBrutto"]').val(parseFloat(priceBrutto).toFixed(2).replace(".", ","));

                                         }
                                     }, function (data) {
                                         data.childTable.jtable('load');
                                     });
                            });
                            return $img;
                        }
                    },
                    IDrealization: {
                        key: true,
                        list: true,
                        title: "ID",
                        width: '1%'
                    },
                    CustomerID: {
                        title: 'Zamawiający',
                        width: '5%',
                        options: '/CmsCustomers/Customers/'
                    },
                    CreateDate: {
                        title: 'Data złożenia zamówienia',
                        width: '5%',
                        type: 'date',
                        displayFormat: 'yy-mm-dd'
                    },
                    EndDate: {
                        title: 'Data zakończenia zamówienia',
                        width: '5%',
                        type: 'date',
                        displayFormat: 'yy-mm-dd'
                    },
                    RealizationStatusID: {
                        title: 'Status zamówienia',
                        width: '5%',
                        options: '/CmsRealizations/Realizations'
                    },
                    PaymentID: {
                        title: 'Płatność',
                        width: '5%',
                        options: '/CmsPayments/Payments'
                    },
                    ShipmentID: {
                        title: 'Wysyłka',
                        width: '5%',
                        options: '/CmsShipments/Shipments'
                    },
                    TotalAmountBrutto: { //Waluta
                        title: 'Cena brutto',
                        width: '5%',
                        edit: false,
                        display: function (data) {
                            return data.record.TotalAmountBrutto.toFixed(2).replace(".", ",");
                        }
                    },
                    Comment:
                    {
                        title: 'Komentarz',
                        width: '5%',
                        list: false
                    }
                },
                formCreated: function (event, data) {
                    var priceBrutto = data.form.find('input[name="TotalAmountBrutto"]').val();
                    $('input[name = "TotalAmountBrutto"]').val(parseFloat(priceBrutto).toFixed(2).replace(".", ","));
                }
            });

            //Re-load records when user click 'load records' button.
            $('#LoadRecordsButton').click(function (e) {
                e.preventDefault();
                $('#RealizationsTable').jtable('load', {
                    searchText: $('#searchText').val(),
                });
            });

            $('#RealizationsTable').jtable('load');
        });
    </script>
}
<!-- start: PAGE HEADER -->
<div class="row">
    <div class="col-sm-12">
        <!-- start: PAGE TITLE & BREADCRUMB -->
        <ol class="breadcrumb">
            <li>
                <i class="clip-file"></i>
                <a href="/">
                    Home
                </a>
            </li>
            <li class="active">
                Zamówienia
            </li>
        </ol>
        <!-- end: PAGE TITLE & BREADCRUMB -->
    </div>
</div>
<!-- end: PAGE HEADER -->
<!-- start: PAGE CONTENT -->
<div>
    <form>
        Szukana fraza: <input type="text" name="searchText" id="searchText" />
        <button type="submit" id="LoadRecordsButton">Szukaj</button>
    </form>
</div>
<div id="RealizationsTable"></div>
<!-- end: PAGE CONTENT-->