﻿@model NetShop.Models.ProductViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="col-sm-3">
    <div class="left-sidebar">
        <h2>Kategorie</h2>
        <div class="panel-group category-products" id="accordian">
            <!--category-productsr-->
            @foreach (var category in Model.TreeCategories)
            {
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            @if (@category.LeafCategory != null && category.LeafCategory.Count > 0)
                            {
                                <a data-toggle="collapse" data-parent="#accordian" href="#@category.CategoryName">
                                    <span class="badge pull-right"><i class="fa fa-plus"></i></span>
                                    @category.CategoryName
                                </a>
                            }
                            else
                            {
                                <a href="@Url.Action("CategoryItem", "CategoryItem", new { categoryID = @category.IDCategory, pageNumber=1, priceSort = "ASC", nameSort = "ASC" })">
                                    @category.CategoryName
                                </a>
                            }
                        </h4>
                    </div>
                    @if (category.LeafCategory != null && category.LeafCategory.Count > 0)
                    {
                        <div id="@category.CategoryName" class="panel-collapse collapse">
                            <div class="panel-body">
                                <ul>
                                    @foreach (var parentCategory in category.LeafCategory)
                                    {
                                        <li><a href="@Url.Action("CategoryItem", "CategoryItem", new { categoryID = @parentCategory.IDCategory, pageNumber=1, priceSort="ASC",nameSort="ASC" })">@parentCategory.CategoryName</a></li>
                                    }
                                </ul>
                            </div>
                        </div>
                    }
                </div>
            }
        </div><!--/category-products-->
    </div>
</div>

<div class="col-sm-9 padding-right">
    <div class="product-details">
        <!--product-details-->
        <div class="col-sm-5">
            @if (Model.ProductItem.ProductImage != null)
            {
                <div class="view-product">
                    <img class="mainImage" src="@Model.ProductItem.ProductImage.Path" alt="@Model.ProductItem.ProductName" />
                </div>
            }
            @if (Model.ImageList != null && Model.ImageList.Count > 0)
            {
                <div id="similar-product" class="carousel slide" data-ride="carousel">
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <div class="item active">
                            @for (int i = 0; i < 3; i++)
                            {
                                if (@Model.ImageList.Count > 1)
                                {
                                    if (i == 0)
                                    {
                                        <a class=""><img class="picture changeImage maxSize" src="@Model.ImageList[i].Path" style="margin-left:30px !important;"></a>
                                    }
                                    else
                                    {
                                        if (@Model.ImageList.Count > i)
                                        {
                                            <a class=""><img class="picture changeImage maxSize" src="@Model.ImageList[i].Path" style="margin-left:5px !important;"></a>
                                        }
                                    }
                                }
                            }
                        </div>
                        @if (Model.ImageList.Count > 3)
                        {
                            for (int i = 3; i < Model.ImageList.Count; i = i * 2)
                            {
                                <div class="item">
                                    @for (int j = i; j < i * 2; j++)
                                    {
                                        if (Model.ImageList.Count > j)
                                        {
                                            if (i == j)
                                            {
                                                <a class=""><img class="picture changeImage maxSize" src="@Model.ImageList[j].Path" style="margin-left:30px !important;"></a>
                                            }
                                            else
                                            {
                                                <a class=""><img class="picture changeImage maxSize" src="@Model.ImageList[j].Path" style="margin-left:5px !important;"></a>
                                            }
                                        }
                                    }
                                </div>
                            }
                        }
                    </div>

                    @if (Model.ImageList.Count > 3)
                    {
                    <!-- Controls -->
                        <a class="left item-control" href="#similar-product" data-slide="prev">
                            <i class="fa fa-angle-left"></i>
                        </a>
                        <a class="right item-control" href="#similar-product" data-slide="next">
                            <i class="fa fa-angle-right"></i>
                        </a>
                    }
                </div>
            }
        </div>
        <div class="col-sm-7">
            <div class="product-information">
                <!--/product-information-->
                <h2>@Model.ProductItem.ProductName</h2>
                <p>Kod producenta: @Model.ProductItem.ProducerCode</p>
                <span>
                    <span class="text-size-20">Cena Netto: @Model.ProductItem.PriceNetto @(!string.IsNullOrEmpty(Model.ProductItem.Unit) ? ("zł/" + Model.ProductItem.Unit) : "zł")</span> <br /><br />
                    <span class="text-size-20">Cena Brutto: @Model.ProductItem.PriceBrutto @(!string.IsNullOrEmpty(Model.ProductItem.Unit) ? ("zł/" + Model.ProductItem.Unit) : "zł")</span> @*TODO USTAWIENIA GLOBALNE*@<br /><br />
                    <label>Ilość:</label>
                    <input id="productCount" type="text" value="1" />
                    <button type="button" class="btn btn-fefault cart" id="addToBasket">
                        <i class="fa fa-shopping-cart"></i>
                        Dodaj do koszyka
                    </button>
                </span>
            </div><!--/product-information-->
        </div>

    </div><!--/product-details-->
    @if (!string.IsNullOrEmpty(Model.ProductItem.Description))
    {
        <p class="text-size-16"><b>Opis</b></p>
        <p class="newsText text-size-14">@Model.ProductItem.Description</p>
    }
</div>
<div class="recommended_items">
    <!--recommended_items-->
    <h2 class="title text-center">Polecane produkty</h2>
    <div id="recommended-item-carousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="item active">
                @foreach (var product in Model.Products.Take(3))
                {
                    <div class="col-sm-4">
                        <div class="product-image-wrapper">
                            <div class="single-products">
                                <div class="productinfo text-center">
                                    @if (product.ProductImage != null && !string.IsNullOrEmpty(product.ProductImage.Path))
                                    {
                                        <img src="@product.ProductImage.Path" alt="" class="picture" />
                                    }
                                    else
                                    {
                                        <div class="divSpaceImg"></div>
                                    }
                                    <h2>
                                        <a class="colorText" href="@Url.Action("Product", "Product", new { productID = @product.IDproduct })">@product.ProductName</a>
                                    </h2>
                                    <p>@product.PriceBrutto zł@(!string.IsNullOrEmpty(product.Unit) ? ("/" + product.Unit) : string.Empty)</p>
                                    <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Dodaj do koszyka</a>
                                </div>

                            </div>
                        </div>
                    </div>
                }
            </div>
            @if (Model.Products.Count > 3)
            {
                for (int i = 3; i < Model.Products.Count; i = i + 3)
                {
                    <div class="item">
                        @foreach (var product in Model.Products.Skip(i).Take(3))
                        {
                            <div class="col-sm-4">
                                <div class="product-image-wrapper">
                                    <div class="single-products">
                                        <div class="productinfo text-center">
                                            @if (product.ProductImage != null && !string.IsNullOrEmpty(product.ProductImage.Path))
                                            {
                                                <img src="@product.ProductImage.Path" alt="" class="picture" />
                                            }
                                            else
                                            {
                                                <div class="divSpaceImg"></div>
                                            }
                                            <h2>
                                                <a class="colorText" href="@Url.Action("Product", "Product", new { productID = @product.IDproduct })">@product.ProductName</a>
                                            </h2>
                                            <p>@product.PriceBrutto zł@(!string.IsNullOrEmpty(product.Unit) ? ("/" + product.Unit) : string.Empty)</p>
                                            <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Dodaj do koszyka</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                }
            }
        </div>
        <a class="left recommended-item-control" href="#recommended-item-carousel" data-slide="prev">
            <i class="fa fa-angle-left"></i>
        </a>
        <a class="right recommended-item-control" href="#recommended-item-carousel" data-slide="next">
            <i class="fa fa-angle-right"></i>
        </a>
    </div>
</div><!--/recommended_items-->
@*<script type="text/javascript" src="~/Scripts/jquery.min.js"></script>*@

@section Scripts {
    <script type="text/javascript">
        $(".changeImage").click(function () {
            var newImage = $(this).attr("src").valueOf();
            var oldImage = $(".mainImage").attr("src").valueOf();

            $(".mainImage").attr("src", newImage);
            $(this).attr("src", oldImage);
        });

        $("#addToBasket").click(function () {
            var productID = getUrlParameter('productID');
            var productCount = parseInt($("#productCount").val());
            var url = "/Basket/AddToBasket";
            if (productCount > 0) {
                $.get(url, { productID: productID, count: productCount }, function (data) {
                    //alert("abc");
                });
            }
        });

        var getUrlParameter = function getUrlParameter(sParam) {
            var sPageURL = decodeURIComponent(window.location.search.substring(1)),
                sURLVariables = sPageURL.split('&'),
                sParameterName,
                i;

            for (i = 0; i < sURLVariables.length; i++) {
                sParameterName = sURLVariables[i].split('=');

                if (sParameterName[0] === sParam) {
                    return sParameterName[1] === undefined ? true : sParameterName[1];
                }
            }
        };
    </script>
}