﻿@model NetShop.Models.ShopViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-sm-3">
    <div class="left-sidebar">
        <h2>Kategorie</h2>
        <div class="panel-group category-products" id="accordian">
            <!--category-productsr-->
            @foreach (var category in Model.TreeCategories)
            {
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            @if (@category.LeafCategory != null && category.LeafCategory.Count > 0)
                            {
                                <a data-toggle="collapse" data-parent="#accordian" href="#@category.CategoryName">
                                    <span class="badge pull-right"><i class="fa fa-plus"></i></span>
                                    @category.CategoryName
                                </a>
                            }
                            else
                            {
                                <a href="@Url.Action("CategoryItem", "CategoryItem", new { categoryID = @category.IDCategory, pageNumber=1, priceSort = "ASC", nameSort = "ASC" })">
                                    @category.CategoryName
                                </a>
                            }
                        </h4>
                    </div>
                    @if (category.LeafCategory != null && category.LeafCategory.Count > 0)
                    {
                        <div id="@category.CategoryName" class="panel-collapse collapse">
                            <div class="panel-body">
                                <ul>
                                    @foreach (var parentCategory in category.LeafCategory)
                                    {
                                        <li><a href="@Url.Action("CategoryItem", "CategoryItem", new { categoryID = @parentCategory.IDCategory, pageNumber=1, priceSort="ASC",nameSort="ASC" })">@parentCategory.CategoryName</a></li>
                                    }
                                </ul>
                            </div>
                        </div>
                    }
                </div>
            }
        </div><!--/category-products-->
    </div>
</div>
<div class="features_items" style="margin-bottom: 30px;">
    <!--features_items-->
    <h2 class="title text-center">Polityka plików cookie</h2>
    <div>
        @NetShop.Repository.GlobalSettings.Instance.Cookies
    </div>
</div>