﻿@{
    Layout = "~/Views/Shared/_AdminLteLayout.cshtml";
}
@section scripts {
    <script>
        $(document).ready(function () {
            //Main.init();

            $('#NewsTable').jtable({
                tableId: 'NewsTable',
                title: 'Lista newsów',
                paging: true,
                pageSize: 10,
                sorting: true,
                defaultSorting: 'IDnews DESC',
                actions: {
                    listAction: '@Url.Action("News")',
                    deleteAction: '@Url.Action("DeleteNews")',
                    updateAction: '@Url.Action("UpdateNews")',
                    createAction: '@Url.Action("CreateNews")'
                },
                fields: {
                    IDnews: {
                        key: true,
                        list: true,
                        title: "ID",
                        width: '2%'
                    },
                    Title: {
                        title: 'Tytuł',
                        width: '5%'
                    },
                    ShortDescription: {
                        title: 'Krótki opis',
                        width: '10%',
                        type: 'textarea'
                    },
                    Description: {
                        title: 'Opis',
                        width: '10%',
                        type: 'textarea'
                    },
                    CreateDate: {
                        title: 'Data utworzenia',
                        width: '4%',
                        type: 'date'
                    },
                    Author: {
                        title: 'Autor',
                        width: '4%'
                    },
                    IsDeleted: {
                        title: 'Usunięty?',
                        type: 'checkbox',
                        create: false,
                        values: { 'false': 'Nie', 'true': 'Tak' },
                        defaultValue: 'false',
                        width: '2%',
                    }
                }
            });

            //Re-load records when user click 'load records' button.
            $('#LoadRecordsButton').click(function (e) {
                e.preventDefault();
                $('#NewsTable').jtable('load', {
                    searchText: $('#searchText').val(),
                });
            });

            $('#NewsTable').jtable('load');
        });
    </script>
}
<!-- start: PAGE HEADER -->
<div class="row">
    <div class="col-sm-12">
        <!-- start: PAGE TITLE & BREADCRUMB -->
        <ol class="breadcrumb">
            <li>
                <i class="clip-file"></i>
                <a href="/">
                    Home
                </a>
            </li>
            <li class="active">
                News
            </li>
        </ol>
        <!-- end: PAGE TITLE & BREADCRUMB -->
    </div>
</div>
<!-- end: PAGE HEADER -->
<!-- start: PAGE CONTENT -->
<div>
    <form>
        Szukana fraza: <input type="text" name="searchText" id="searchText" />
        <button type="submit" id="LoadRecordsButton">Szukaj</button>
    </form>
</div>
<div id="NewsTable"></div>
