﻿@model NetShop.Models.ResultViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Potwierdzenie zamówienia</h2>
<section id="cart_items">
    <div class="container">
        <div class="shopper-informations margin-top-30">
            <div class="margin-top-30">
                <div class="table-responsive cart_info">
                    <table class="table table-condensed">
                        <thead>
                            <tr class="cart_menu">
                                <td class="image">Dziękujemy za wybranie naszego sklepu. Twoje zamówienie zostanie zrealizowane po zaksięgowaniu wpłaty.</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td></td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td colspan="2">
                                    <table class="table table-condensed total-result">
                                        
                                        <tr>
                                            <td class="alignCenter">Numer zamówienia:</td>
                                            <td class="floatLeft">#@Model.RealizationID</td>
                                        </tr>
                                        <tr>
                                            <td class="alignCenter">Kwota zamówienia:</td>
                                            <td class="floatLeft">@Model.TotalAmountBrutto zł</td> @*TODO USTAWIENIA GLOBALNE*@
                                        </tr>
                                        <tr>
                                            <td class="alignCenter">Płatność:</td>
                                            <td class="floatLeft">@Model.Payment</td>
                                        </tr>
                                        <tr>
                                            <td class="alignCenter">Rodzaj dostawy:</td>
                                            <td class="floatLeft"><span>@Model.Shipment</span></td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td class="margin-top-30 btn btn-default colorOrangeButton text-size-18 floatRight padding-10" onclick="window.location.href='@Url.Action("Index", "Home")'"> Powrót do sklepu</td>

                                        </tr>
                                    </table>
                                </td>
                                <td colspan="4">
                                    &nbsp;
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
