﻿@{
    Layout = "~/Views/Shared/_AdminLteLayout.cshtml";
}

@section scripts {
    <script>
        $(document).ready(function () {
            //Main.init();

            $('#SettingsTable').jtable({
                title: 'Ustawienia globalne',
                paging: true,
                pageSize: 10,
                sorting: true,
                defaultSorting: 'IDsetting DESC',
                actions: {
                    listAction: '@Url.Action("Settings")',
                    //deleteAction: '@Url.Action("DeleteSetting")',
                    updateAction: '@Url.Action("UpdateSetting")',
                    //createAction: '@Url.Action("CreateSetting")'
                },
                fields: {
                    IDsetting: {
                        key: true,
                        list: true,
                        title: "ID",
                        width: '1%'
                    },
                    Code: {
                        title: 'Kod ustawienia',
                        width: '5%',
                        inputClass: 'validate[required]'
                    },
                    Value: {
                        title: 'Wartość',
                        width: '5%',
                        inputClass: 'validate[required]'
                    },
                    Name: {
                        title: 'Nazwa',
                        width: '5%',
                        inputClass: 'validate[required]'
                    },
                    Description: {
                        title: 'Opis',
                        width: '6%',
                        type: 'textarea'
                    },
                    ValueTypeID: {
                        title: 'Typ wartości',
                        width: '5%',
                        options: '/CmsValueTypes/ValueTypes',
                        inputClass: 'validate[required]'
                    },
                    Creator: {
                        title: 'Twórca',
                        width: '6%',
                        defaultValue: 'A'
                    },
                    IsDeleted: {
                        title: 'Usunięty',
                        type: 'checkbox',
                        values: { 'false': 'Nie', 'true': 'Tak' },
                        defaultValue: 'false',
                        width: '1%',
                    }
                },
                formCreated: function (event, data) {
                    data.form.find('input[name="Code"]').addClass(
                      'validate[required]');
                    data.form.find('input[name="Value"]').addClass(
                      'validate[required]');
                    data.form.find('input[name="Name"]').addClass(
                      'validate[required]');
                    data.form.find('input[name="ValueType"]').addClass(
                      'validate[required]');
                    data.form.validationEngine();
                },
                formSubmitting: function (event, data) {
                    return data.form.validationEngine('validate');
                },
                formClosed: function (event, data) {
                    data.form.validationEngine('hide');
                    data.form.validationEngine('detach');
                }
            });

            //Re-load records when user click 'load records' button.
            $('#LoadRecordsButton').click(function (e) {
                e.preventDefault();
                $('#SettingsTable').jtable('load', {
                    searchText: $('#searchText').val(),
                });
            });

            $('#SettingsTable').jtable('load');
        });
    </script>
}
<!-- start: PAGE HEADER -->
<div class="row">
    <div class="col-sm-12">
        <!-- start: PAGE TITLE & BREADCRUMB -->
        <ol class="breadcrumb">
            <li>
                <i class="clip-file"></i>
                <a href="/">
                    Home
                </a>
            </li>
            <li class="active">
                Ustawienia
            </li>
        </ol>
        <!-- end: PAGE TITLE & BREADCRUMB -->
    </div>
</div>
<!-- end: PAGE HEADER -->
<!-- start: PAGE CONTENT -->
<div>
    <form>
        Szukana fraza: <input type="text" name="searchText" id="searchText" />
        <button type="submit" id="LoadRecordsButton">Szukaj</button>
    </form>
</div>
<div id="SettingsTable"></div>
