﻿@{
    Layout = "~/Views/Shared/_AdminLteLayout.cshtml";
}

@section scripts {
    <script>
        $(document).ready(function () {
            //Main.init();

            $('#UnitsTable').jtable({
                title: 'Jednostki',
                paging: true,
                pageSize: 10,
                sorting: true,
                defaultSorting: 'IDunit DESC',
                actions: {
                    listAction: '@Url.Action("Units")',
                    deleteAction: '@Url.Action("DeleteUnit")',
                    updateAction: '@Url.Action("UpdateUnit")',
                    createAction: '@Url.Action("CreateUnit")'
                },
                fields: {
                    IDunit: {
                        key: true,
                        list: true,
                        title: "ID",
                        width: '1%'
                    },
                    Name: {
                        title: 'Jednostka - skrót',
                        width: '5%',
                        inputClass: 'validate[required]'
                    },
                    Description: {
                        title: 'Jednostka - pełna nazwa',
                        width: '5%',
                        inputClass: 'validate[required]'
                    },
                    IsDeleted: {
                        title: 'Czy usunięty',
                        type: 'checkbox',
                        create: false,
                        values: { 'false': 'Nie', 'true': 'Tak' },
                        defaultValue: 'false',
                        width: '1%',
                    }
                },
                formCreated: function (event, data) {
                    data.form.find('input[name="Name"]').addClass(
                      'validate[required]');
                    data.form.validationEngine();
                },
                formSubmitting: function (event, data) {
                    return data.form.validationEngine('validate');
                },
                formClosed: function (event, data) {
                    data.form.validationEngine('hide');
                    data.form.validationEngine('detach');
                }
            });

            //Re-load records when user click 'load records' button.
            $('#LoadRecordsButton').click(function (e) {
                e.preventDefault();
                $('#UnitsTable').jtable('load', {
                    searchText: $('#searchText').val(),
                });
            });

            $('#UnitsTable').jtable('load');
        });
    </script>
}
<!-- start: PAGE HEADER -->
<div class="row">
    <div class="col-sm-12">
        <!-- start: PAGE TITLE & BREADCRUMB -->
        <ol class="breadcrumb">
            <li>
                <i class="clip-file"></i>
                <a href="/">
                    Home
                </a>
            </li>
            <li class="active">
                Jednostki
            </li>
        </ol>
        <!-- end: PAGE TITLE & BREADCRUMB -->
    </div>
</div>
<!-- end: PAGE HEADER -->
<!-- start: PAGE CONTENT -->
<div>
    <form>
        Szukana fraza: <input type="text" name="searchText" id="searchText" />
        <button type="submit" id="LoadRecordsButton">Szukaj</button>
    </form>
</div>
<div id="UnitsTable"></div>

