﻿@model NetShop.Models.MainViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col-sm-3">
    <div class="left-sidebar">
        <h2>Kategorie</h2>
        <div class="panel-group category-products" id="accordian">
            <!--category-productsr-->
            @foreach (var category in Model.TreeCategories)
            {
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            @if (@category.LeafCategory != null && category.LeafCategory.Count > 0)
                            {
                                <a data-toggle="collapse" data-parent="#accordian" href="#@category.CategoryName">
                                    <span class="badge pull-right"><i class="fa fa-plus"></i></span>
                                    @category.CategoryName
                                </a>
                            }
                            else
                            {
                                <a href="@Url.Action("CategoryItem", "CategoryItem", new { categoryID = @category.IDCategory, pageNumber=1, priceSort = "ASC", nameSort = "ASC" })">
                                    @category.CategoryName
                                </a>
                            }
                        </h4>
                    </div>
                    @if (category.LeafCategory != null && category.LeafCategory.Count > 0)
                    {
                        <div id="@category.CategoryName" class="panel-collapse collapse">
                            <div class="panel-body">
                                <ul>
                                    @foreach (var parentCategory in category.LeafCategory)
                                    {
                                        <li><a href="@Url.Action("CategoryItem", "CategoryItem", new { categoryID = @parentCategory.IDCategory, pageNumber=1, priceSort="ASC",nameSort="ASC" })">@parentCategory.CategoryName</a></li>
                                    }
                                </ul>
                            </div>
                        </div>
                    }
                </div>
            }
        </div><!--/category-products-->
    </div>
</div>
<div class="features_items" style="margin-bottom: 30px;">
    <!--features_items-->
    <h2 class="title text-center">Newsy</h2>
    <table class="col-sm-12">
    @for (int i = 0; i < Model.NewsItem.Count; i=i+2)
    {
        <tr>
            @foreach (NetShop.Contracts.Class.NewsItem item in Model.NewsItem.Skip(i).Take(2))
            {
                <td class="col-sm-6 title text-center">
                    <h2 class="titleH2Color">@item.Title</h2>
                    <p class="newsText">@item.ShortDescription</p>
                    <div class="floatRight"><button type="submit" value="News @item.IDnews" onclick="window.location.href='@Url.Action("NewsItem", "News", new { newsID = @item.IDnews })';" class=" btn btn-default colorOrangeButton">Czytaj więcej ...</button></div>
                    <br /><br /><div><p class="floatLeft">@item.CreateDate</p> <p class="floatRight">@item.Author</p></div>
                </td>
            }
        </tr>
    }
    </table>
    @*<div class="col-sm-6">
            <div>
                <div class="title text-center">
                    <h2 class="titleH2Color">@item.Title</h2>
                    <p class="newsText">@item.ShortDescription</p>
                    <div class="floatRight"><button type="submit" value="News @item.IDnews" onclick="window.location.href='@Url.Action("NewsItem", "News", new { newsID = @item.IDnews })';" class=" btn btn-default colorOrangeButton">Czytaj więcej ...</button></div>
                    <br /><br /><div><p class="floatLeft">@item.CreateDate</p> <p class="floatRight">@item.Author</p></div>
                </div>
            </div>
        </div>*@
</div><!--features_items-->

<div class="recommended_items">
    <!--recommended_items-->
    <h2 class="title text-center">Polecane produkty</h2>

    <div id="recommended-item-carousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">


            <div class="item active">
                @foreach (var product in Model.Products.Take(3))
                {
                    <div class="col-sm-4">
                        <div class="product-image-wrapper">
                            <div class="single-products">
                                <div class="productinfo text-center">
                                    @if (product.ProductImage != null && !string.IsNullOrEmpty(product.ProductImage.Path))
                                    {
                                        <img src="@product.ProductImage.Path" alt="" class="picture" />
                                    }
                                    else
                                    {
                                        <div class="divSpaceImg"></div>
                                    }

                                    <h2>
                                        <a class="colorText" href="@Url.Action("Product", "Product", new { productID = @product.IDproduct })">@product.ProductName</a>
                                    </h2>
                                    <p>@product.PriceBrutto zł@(!string.IsNullOrEmpty(product.Unit) ? ("/"+product.Unit) :string.Empty )</p>
                                    <a class="btn btn-default add-to-cart" id="@product.IDproduct"><i class="fa fa-shopping-cart"></i>Dodaj do koszyka</a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
            @if (Model.Products.Count > 3)
            {
                for (int i = 3; i < Model.Products.Count; i = i + 3)
                {
                    <div class="item">
                        @foreach (var product in Model.Products.Skip(i).Take(3))
                        {
                            <div class="col-sm-4">
                                <div class="product-image-wrapper">
                                    <div class="single-products">
                                        <div class="productinfo text-center">
                                            @if (product.ProductImage != null && !string.IsNullOrEmpty(product.ProductImage.Path))
                                            {
                                                <img src="@product.ProductImage.Path" alt="" class="picture" />
                                            }
                                            else
                                            {
                                                <div class="divSpaceImg"></div>
                                            }
                                            <h2>
                                                <a class="colorText" href="@Url.Action("Product", "Product", new { productID = @product.IDproduct })">@product.ProductName</a>
                                            </h2>
                                            <p>@product.PriceBrutto zł@(!string.IsNullOrEmpty(product.Unit) ? ("/" + product.Unit) : string.Empty)</p>
                                            <a class="btn btn-default add-to-cart" id="@product.IDproduct"><i class="fa fa-shopping-cart"></i>Dodaj do koszyka</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                }
            }
        </div>
        <a class="left recommended-item-control" href="#recommended-item-carousel" data-slide="prev">
            <i class="fa fa-angle-left"></i>
        </a>
        <a class="right recommended-item-control" href="#recommended-item-carousel" data-slide="next">
            <i class="fa fa-angle-right"></i>
        </a>
    </div>
</div><!--/recommended_items-->
@*<script type="text/javascript" src="~/Scripts/jquery.min.js"></script>*@
@section Scripts {
    <script type="text/javascript">
        $(".add-to-cart").click(function () {
            var productID = parseInt($(this).attr('id').valueOf());
            var url = "/Basket/AddToBasket";
            $.get(url, { productID: productID, count: 1 }, function (data) {
                //alert("abc");
            });
        });
    </script>
}
